<template>
  <div class="mobile-years">
    <img :src="years" alt="">
  </div>
</template>

<script>
import years from '../../static/mobile/years.png'
export default {
  name: "mobileYears",
  data(){
    return{
      years
    }
  }
}
</script>

<style scoped>

</style>