<template>
  <div class="mobile-start">
    <div class="mobile-content">
      <p class="mobile-start__pretitle">staking provider hosted by professionals</p>
      <p class="mobile-start__title">Stakewolle validator</p>
      <p class="mobile-start__subtitle">Лучшее место для инвесторов, как с не большими вложениями, так и с активами более 500 тысяч долларов можно вложить и 1 $, а можно и 1 млн.</p>
      <div class="mobile-start__btn" href="/">Узнать больше</div>
    </div>

  </div>
</template>

<script>
import start from '../../static/mobile/start.png'
export default {
  name: "mobileStartBlock",
  data(){
    return{
      start
    }
  }
}
</script>

<style scoped>

</style>