<template>
  <div class="mobile-footer">
    <div class="form-alert">
      <div class="form-alert__form">
        <p class="form-alert__form-pretitle">Спасибо</p>
        <p class="form-alert__form-title">Вы успешно подписались на рассылку</p>
        <div class="form-alert__form-btn">
          <button @click="closeFormAlert">
            <p>Закрыть</p>
            <div></div>
          </button>
        </div>
        <div @click="closeFormAlert" class="form-alert__form-close">
          <div class="form-alert__form-close__item"></div>
          <div class="form-alert__form-close__item"></div>
        </div>
      </div>
    </div>
    <div class="mobile-content">
      <div class="mobile-footer__logo">
        <div class="mobile-footer__logo-bg"></div>
        <img :src="logo" alt="">
        <p>takewolle</p>
      </div>
      <div class="mobile-footer__socials">
        <a href="/" class="mobile-footer__socials-item">
          <img :src="twitter" alt="">
        </a>
        <a href="/" class="mobile-footer__socials-item">
          <img :src="telegram" alt="">
        </a>
        <a href="/" class="mobile-footer__socials-item">
          <img :src="instagram" alt="">
        </a>
        <a href="/" class="mobile-footer__socials-item">
          <img :src="github" alt="">
        </a>
      </div>
    </div>
    <div class="mobile-footer__anchors">
      <a href="#m-about">О нас</a>
      <a href="#m-calc">Прибыль</a>
      <a href="">Руководство</a>
      <a href="#m-contacts">Контакты</a>
    </div>
    <form action="https://yandexcloud.us20.list-manage.com/subscribe/post?u=a7fd2fb68b7f36d3ac9b012cb&amp;id=390bce8319" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate footer-contacts__form mobile-footer__contacts" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
	      <h4>Подпишитесь, чтобы первыми узнавать новости</h4>
        <div class="mc-field-group">
          <img :src="mail" alt="">
	        <input type="email" placeholder="Email" value="" name="EMAIL" class="required email mobile-footer-input" id="mce-EMAIL">
        </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_a7fd2fb68b7f36d3ac9b012cb_390bce8319" tabindex="-1" value=""></div>
        <div class="optionalParent">
          <div class="clear foot">
            <div class="btn-bg"></div>
            <p>Подписаться</p>
            <div class="btn"></div>
            <input @click="checkSuccess" type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
          </div>
      </div>
    </form>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  </div>
</template>

<script>
import logo from '../../static/fav.svg'
import twitter from '../../static/header-twitter.svg'
import telegram from '../../static/header-telegram.svg'
import instagram from '../../static/header-instagram.svg'
import github from '../../static/header-github.svg'
import mail from '../../static/mail.svg'
export default {
  name: "mobileFooter",
  data(){
    return{
      logo,
      twitter,
      telegram,
      instagram,
      github,
      mail
    }
  },
  methods: {
    checkSuccess(){
      const footerInput = document.querySelector('.mobile-footer-input')

      if(!footerInput.value){
        
      } else {
        const formAlert = document.querySelector('.form-alert')
        const body = document.querySelector('body')
        body.style.overflowY = 'hidden'
        formAlert.style.zIndex = '700'
        formAlert.style.opacity = '1'
      }
    },
    closeFormAlert(){
      const formAlert = document.querySelector('.form-alert')
      const body = document.querySelector('body')
      body.style.overflowY = 'scroll'
      formAlert.style.opacity = '0'
      formAlert.style.zIndex = '-100'
    }
  }
}
</script>

<style scoped>

</style>