<template>
  <div class="mobile-navigation">
    <div class="mobile-content">
      <div class="mobile-content__top">
        <div class="mobile-navigation__logo">
          <div class="mobile-navigation__logo-bg"></div>
          <img :src="logo" alt="">
          <p>takewolle</p>
        </div>
        <button @click="menu" class="mobile-navigation__menu-btn">
          <div class="mobile-navigation__menu-btn__item"></div>
          <div class="mobile-navigation__menu-btn__item"></div>
          <div class="mobile-navigation__menu-btn__item"></div>
        </button>
      </div>
      <div class="mobile-navigation__menu">
        <div class="mobile-navigation__menu-links">
          <a class="mobile-navigation__menu-links__item" href="#m-about">О нас</a>
          <a class="mobile-navigation__menu-links__item" href="#m-calc">Прибыль</a>
          <a class="mobile-navigation__menu-links__item" href="">Руководство</a>
          <a class="mobile-navigation__menu-links__item" href="#m-contacts">Контакты</a>
        </div>
        <div class="mobile-content">
          <button @click="getPopup" class="mobile-navigation__menu-links__btn">
            <div class="mobile-navigation__menu-links__btn-bg"></div>
            <p>Стейкинг</p>
          </button>
          <div class="mobile-navigation__menu-social">
            <div class="mobile-navigation__menu-social__links">
              <a href="/" class="mobile-navigation__menu-social__links-item">
                <img :src="twitter" alt="">
              </a>
              <a href="/" class="mobile-navigation__menu-social__links-item">
                <img :src="telegram" alt="">
              </a>
              <a href="/" class="mobile-navigation__menu-social__links-item">
                <img :src="instagram" alt="">
              </a>
              <a href="/" class="mobile-navigation__menu-social__links-item">
                <img :src="github" alt="">
              </a>
            </div>
            <div class="mobile-navigation__menu-social__language">
              <div class="mobile-navigation__menu-social__language-visible">
                <p>Ru</p>
                <img :src="arrow" alt="">
              </div>
              <div class="mobile-navigation__menu-social__language-hide">
                <p>Ru</p>
                <div class="mobile-navigation__menu-social__language-hide__line"></div>
                <p>En</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import logo from '../../static/logo.png'
import twitter from '~/static/header-twitter.svg'
import telegram from '~/static/header-telegram.svg'
import instagram from '~/static/header-instagram.svg'
import github from '~/static/header-github.svg'
import arrow from '../../static/lang-arrow.svg'
export default {
  name: "mobile-navigation",
  data(){
    return{
      logo, twitter, telegram, instagram, github, arrow,
      menuToggle: false
    }
  },
  methods: {
    menu(){
      const mobileNavigationMenu = document.querySelector('.mobile-navigation__menu');
      const mobileMenuBtn = document.querySelector('.mobile-navigation__menu-btn');
      const body = document.querySelector('body')

      if(!this.menuToggle){
        mobileNavigationMenu.style.left = '0%';
        mobileMenuBtn.classList.add('button-true');
        body.style.overflowY = 'hidden'
        body.style.height = '100vh'
      } else {
        mobileNavigationMenu.style.left = '-100%';
        mobileMenuBtn.classList.remove('button-true');
        body.style.overflowY = 'scroll'
        body.style.height = 'unset'
      }

      this.menuToggle = !this.menuToggle;
    },
    getPopup(){
      const popup = document.querySelector('.nets-popup__background');
      popup.style.top = '0'
      const body = document.querySelector('body')
      body.style.overflowY = 'hidden'
      body.style.height = '100vh'

    },
  }
}
</script>