<template>
  <div class="mobile-delegates">
    <div class="mobile-delegates__item">
      <p class="mobile-delegates__item-title">$ 4,551,303,586</p>
      <p class="mobile-delegates__item-subtitle">Сумма делегированных средств</p>
    </div>
    <div class="mobile-delegates__item">
      <p class="mobile-delegates__item-title">$ 642,878,220</p>
      <p class="mobile-delegates__item-subtitle">Всего выплачено вознаграждений</p>
    </div>
    <div class="mobile-delegates__item">
      <p class="mobile-delegates__item-title">24938</p>
      <p class="mobile-delegates__item-subtitle">Количество делегатов</p>
    </div>
  </div>
</template>

<script>
export default {
  name: "mobileDelegates"
}
</script>

<style scoped>

</style>