<template>
  <div class="mobile-stacking">
    <calc-validator v-bind:netsToCalc="netsToCalc"></calc-validator>
    <div class="nets-popup__background">
      <div class="nets-popup">
        <div @click="popupClose" class="nets-popup__lock">
          <div class="nets-popup__lock-item"></div>
          <div class="nets-popup__lock-item"></div>
        </div>
        <h4>Доброе утро!</h4>
        <h3>Делегируйте на Stakewolle</h3>
        <div class="nets-popup__top-slider">
          <button @click="prevSlide" class="nets-popup__top-slider__btn nets-popup__top-slider__left">
            <img :src="popupLeft" alt="">
          </button>
          <button @click="nextSlide" class="nets-popup__top-slider__btn nets-popup__top-slider__right">
            <img :src="popupRight" alt="">
          </button>
          <div class="nets-popup__top-slider__wrapper">
            <div v-for="i in nets" :class="i.class_slider">
              <div class="nets-popup__top-slider__wrapper-item__dark"></div>
              <div class="nets-popup__top-slider__wrapper-item__background">
                <img :src="i.img" alt="">
                <div class="nets-popup__top-slider__wrapper-item__background-linear"></div>
                <bar v-if="i.week_data.length>0" :sliderData="i.week_data" class="nets-popup__top-slider__wrapper-item__background-chart"></bar>
              </div>
              <div class="nets-popup__top-slider__wrapper-item__info">
                <div class="nets-popup__top-slider__wrapper-item__info-name">
                  <p class="nets-popup__top-slider__wrapper-item__info-name__title">{{i.short_title}}</p>
                  <p class="nets-popup__top-slider__wrapper-item__info-name__subtitle">{{i.token}}</p>
                </div>
                <div class="nets-popup__top-slider__wrapper-item__info-fee">
                  <img class="course-arrow__top" :src="arrowDown" alt="">
                  <p>{{ i.fee }} %</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div v-for="i in nets" :class="i.nets_stat_class">
          <div class="nets-popup__stat-title">
            <div class="nets-popup__stat-title__blockchain">
              <p class="nets-popup__stat-title__blockchain-title">Блокчейн</p>
              <p class="nets-popup__stat-title__blockchain-subtitle">{{i.title}}</p>
            </div>
            <div class="nets-popup__stat-title__token">
              <p class="nets-popup__stat-title__token-title">Токен</p>
              <p class="nets-popup__stat-title__token-subtitle">{{i.token}}</p>
            </div>
          </div>
          <div class="nets-popup__stat-info">
            <div class="nets-popup__stat-info__positions">
              <div class="nets-popup__stat-info__positions-top">
                <div class="nets-popup__stat-info__positions-top__coin">
                  <img :src="i.img" alt="">
                  <div class="nets-popup__stat-info__positions-top__coin-name">
                    <p class="nets-popup__stat-info__positions-top__coin-name__title">{{i.short_title}}</p>
                    <p class="nets-popup__stat-info__positions-top__coin-name__subtitle">{{i.token}}</p>
                  </div>
                </div>
                <div class="nets-popup__stat-info__positions-top__blocktime">
                  <img :src="blockTime" alt="">
                  <p>Block Time {{i.block_time}}mc</p>
                </div>
              </div>
              <div class="nets-popup__stat-info__positions-values">
                <div class="nets-popup__stat-info__positions-price">
                  <p>${{i.price}}</p>
                </div>
                <div class="nets-popup__stat-info__positions-coingecko">
                  <p>Coingecko</p>
                  <div class="nets-popup__stat-info__positions-coingecko__value">
                    <img class="course-arrow__bottom" :src="arrowDownDark" alt="">
                    <p>{{i.fee}}% (24h)</p>
                  </div>
                </div>
                <div class="nets-popup__stat-info__positions-market">
                  <p>Market Cap</p>
                  <p>${{i.market_cap}}</p>
                </div>
                <div class="nets-popup__stat-info__positions-vol">
                  <p>24h Vol</p>
                  <p>${{i.h24_vol}}</p>
                </div>
              </div>
            </div>
            <div class="nets-popup__stat-info__graph">
              <bar-graph v-if="i.week_data.length>0" :sliderDataGraph="i.week_data" class="nets-popup__stat-info__graph-chart"></bar-graph>
              <div class="nets-popup__stat-info__graph-line"></div>
              <div class="nets-popup__stat-info__graph-line"></div>
              <div class="nets-popup__stat-info__graph-line"></div>
              <div class="nets-popup__stat-info__graph-line"></div>
              <div class="nets-popup__stat-info__graph-line"></div>
              <div class="nets-popup__stat-info__graph-labels">
                <p class="nets-popup__stat-info__graph-labels__item">14:00</p>
                <p class="nets-popup__stat-info__graph-labels__item">17:00</p>
                <p class="nets-popup__stat-info__graph-labels__item">21:00</p>
                <p class="nets-popup__stat-info__graph-labels__item">01:00</p>
                <p class="nets-popup__stat-info__graph-labels__item">05:00</p>
              </div>
            </div>
          </div>
        </div>
        <div class="nets-popup__buttons-container">
          <button @click="setCalc">
            <div></div>
            <p>Делегировать</p>
          </button>
        </div>
      </div>
    </div>
    <div class="mobile-content">
      <h4>Сети, доступные для стейкинга:</h4>
      <div class="mobile-stacking__slider">
        <div class="mobile-stacking__slider-top">
          <button @click="toLeft" class="mobile-stacking__slider-top__btn-left">
            <img :src="arrowLeft" alt="">
          </button>
          <button @click="toRight" class="mobile-stacking__slider-top__btn-right">
            <img :src="arrowRight" alt="">
          </button>
          <div v-for="i in nets" :class="i.class">
            <img :src="i.img" alt="">
          </div>
        </div>
        <div class="mobile-stacking__slider-info">
          <div v-for="i in nets" :class="i.info_class">
            <p class="mobile-stacking__slider-info__item-title">{{ i.title }}</p>
            <p class="mobile-stacking__slider-info__item-subtitle">{{ i.subtitle }}</p>
            <p class="mobile-stacking__slider-info__item-percents">Annual percent: <span>{{ i.annual_comission }}%</span></p>
            <p class="mobile-stacking__slider-info__item-percents">Stakewolle Fee: <span>{{ i.stakewolle_comission }}</span></p>
            <div class="mobile-content">
              <button @click="getPopup" class="mobile-stacking__slider-info__item-btn">
                <div class="mobile-stacking__slider-info__item-btn__bg"></div>
                <p>Стекинг</p>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Akash from "@/static/nets/Akash.png"
import BandProtocol from "@/static/nets/BandProtocol.png"
import CertiK from "@/static/nets/CertiK.png"
import Comdex from "@/static/nets/Comdex.png"
import Cosmos from "@/static/nets/Cosmos.png"
import Desmos from "@/static/nets/Desmos.png"
import eMoney from "@/static/nets/eMoney.png"
import Iris from "@/static/nets/Iris.png"
import Juno from "@/static/nets/Juno.png"
import Kava from "@/static/nets/Kava.png"
import Ki from "@/static/nets/Ki.png"
import Mediblock from "@/static/nets/Mediblock.png"
import Osmosis from "@/static/nets/Osmosis.png"
import Persistence from "@/static/nets/Persistence.png"
import SecretNetwork from "@/static/nets/SecretNetwork.png"
import SifChain from "@/static/nets/SifChain.png"
import arrowLeft from '@/static/mobile/left.svg'
import arrowRight from '@/static/mobile/right.svg'
import popupLeft from '@/static/popup/left.svg'
import popupRight from '@/static/popup/right.svg'
import arrowDown from '@/static/popup/ArrowCaretDown.svg'
import blockTime from '@/static/popup/BlockTime.svg'
import arrowDownDark from '@/static/popup/Arrow Caret Down Dark.svg'
import Rizon from "../../static/nets/Rizon.png";
import BitSong from "../../static/nets/BitSong.png";
import LikeCoin from "../../static/nets/LikeKoin.png";
import Chihua from "../../static/nets/Chihua.png";
import Lum from "../../static/nets/Lum.png";
import Sentinel from "../../static/nets/Sentinel.png";
import Cheqd from "../../static/nets/Cheqd.png";
import Dig from "../../static/nets/Dig.png";



export default {
  name: "mobileStacking",
  data(){
    return{
      Cosmos, Akash, BandProtocol, CertiK, Comdex,
      Desmos, eMoney, Iris, Juno, Kava, Ki, Mediblock,
      Osmosis, Persistence, SecretNetwork, SifChain,
      arrowLeft, arrowRight, popupLeft, popupRight,
      arrowDown, blockTime, arrowDownDark,
      nets: [],
      current: 0,
      sliderData: [],
      sliderDataGraph: [],
      netsToCalc: [],
    }
  },
  async mounted() {

    let today = new Date()

    let yesterday = new Date()
    today = today.getFullYear()+'.'+(today.getMonth()+1)+'.'+today.getDate()
    yesterday = yesterday.getFullYear()+'.'+(yesterday.getMonth()+1)+'.'+(yesterday.getDate()-1)

    let nets_container_str = ''
    for(let i=0; i < this.nets.length; i++){
      if(i === 0){
        nets_container_str = this.nets[i].coin
      } else {
        nets_container_str = nets_container_str+','+this.nets[i].coin
      }
    }
    const courseArrow = document.querySelectorAll('.course-arrow__top')
    const _courseArrow = document.querySelectorAll('.course-arrow__bottom')
    //объявляются переменные для запросов
    let coins24h_stat, coinsInfo, capitalization;
    for(let i=0; i<this.nets.length; i++){
      //если сетки нет в localStorage и текущая дата не равна дате из localStorage ...
      if (!localStorage.getItem(this.nets[i].coin) && this.nets[i].coingecko_status === true && localStorage.getItem('setting_date') !== today) {
        //запрос курса на каждый час прошедших суток
        coins24h_stat = await this.$axios.$get('https://api.coingecko.com/api/v3/coins/' + this.nets[i].coin + '/market_chart/range?vs_currency=usd&from=' + parseInt((new Date(yesterday).getTime() / 1000).toFixed(0)) + '&to=' + parseInt((new Date(today).getTime() / 1000).toFixed(0)))
        //запрос на глобальные данные о сетке
        coinsInfo = await this.$axios.$get('https://api.coingecko.com/api/v3/coins/' + this.nets[i].coin)
        //запрос на данные о капитализации
        capitalization = await this.$axios.$get('https://api.coingecko.com/api/v3/coins/' + this.nets[i].coin + '/market_chart?vs_currency=usd&days=1&interval=daily')
        let coinsPrices = [];
        console.log(coins24h_stat.prices[0][1])
        for (let k = 0; k <= 22; k++) {
          coinsPrices.push(coins24h_stat.prices[k][1])
        }
        let stringToStorage = coinsPrices[coinsPrices.length-1].toString() + ', ' + this.round(capitalization.total_volumes[0][0]).toString() + ', ' + this.round(capitalization.total_volumes[0][1]).toString() + ', ' + this.round(coinsInfo.market_data.price_change_24h) + ', ' + coinsPrices.toString()
        localStorage.setItem(this.nets[i].coin.toString(), stringToStorage.toString())
        if (i === this.nets.length - 1) {
          localStorage.setItem('setting_date', today.toString())
          this.template_flag = true
        } else {
          this.template_flag = true
        }
      }



      let priceArrayToPushing = []

      try {
        let netsParseArray = localStorage.getItem(this.nets[i].coin).split(', ')
        for (let k=0; k <= 22; k++){
          priceArrayToPushing.push(netsParseArray[4].split(',')[k])
        }
        this.nets[i].price = this.round(parseFloat(netsParseArray[0]))
        this.nets[i].market_cap = netsParseArray[1]
        this.nets[i].h24_vol = this.round(parseFloat(netsParseArray[2]))
        this.nets[i].fee = this.round(parseFloat(netsParseArray[3]))

        if(parseFloat(netsParseArray[3]) <= 0){
          courseArrow[i].style.transform = 'rotate(0deg)'
          _courseArrow[i].style.transform = 'rotate(0deg)'
        } else {
          courseArrow[i].style.transform = 'rotate(180deg)'
          _courseArrow[i].style.transform = 'rotate(180deg)'
        }
        for (let k=0; k <= 22; k++){
          this.nets[i].week_data.push(priceArrayToPushing[k])
        }

      } catch (e) {
        console.log(e)
      }
    }
  },
  created(){

    this.nets = [
      {
        'coin': 'cosmos',
        'img': Cosmos,
        'title': 'Cosmos',
        'short_title': 'Cosmos',
        'subtitle': 'Открытая, масштабируемая и взаимосвязанная экономика будущего',
        'percent': '21%',
        'fee': '12%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item left current',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-stacking__slider-info__item current',
        'token': 'ATOM',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat current',
        'block_time': '4,129',
        'price': '50.21',
        'market_cap': '10,032,098,223.16',
        'h24_vol': '356,854,100.87',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/cosmoshub/stake?modal=stake&validator=cosmosvaloper1gf4wlkutql95j7wwsxz490s6fahlvk2s9xpwax',
        'coingecko_status': true
      },
      {
        'coin': 'ki',
        'img': Ki,
        'title': 'Ki',
        'short_title': 'Ki',
        'subtitle': 'Ki объединяет CeFi и DeFi с использованием Tendermint Core',
        'percent': '54%',
        'fee': '7%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item center',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'XKI',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,821',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://www.mintscan.io/ki-chain/validators/kivaloper19seaxuh9wp3zum42w6flrjsr5raptxhy3l8qvw',
        'coingecko_status': true
      },
      {
        'coin': 'juno-network',
        'img': Juno,
        'title': 'Juno',
        'short_title': 'Juno',
        'subtitle': 'Децентрализованная общедоступная сеть без разрешений для смарт-контрактов между цепочками',
        'percent': '20%',
        'fee': '9%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item right',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'JUNO',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,284',
        'market_cap': '12,092,932,751.26',
        'h24_vol': '408,987,330.21',
        'price': '34.72',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/juno/stake?modal=stake&validator=junovaloper1qr78535yz60zemv82sww948c6azx40gnawnh6r',
        'coingecko_status': true
      },
      {
        'coin': 'band-protocol',
        'img': BandProtocol,
        'title': 'Band Protocol',
        'short_title': 'Band Pr.',
        'subtitle': 'Безопасный, масштабируемый кроссчейн децентрализованный - подключение смарт-контрактов к внешним данным и API',
        'percent': '32%',
        'fee': '8%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'BAND',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '3,187',
        'market_cap': '4,117,475,123.26',
        'h24_vol': '143,586,714.26',
        'price': '41.00',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://cosmoscan.io/validator/bandvaloper1hcu2spr3r80v36us40mg938f5qhaqq2qeajtfv#delegators',
        'coingecko_status': true
      },
      {
        'coin': 'e-money',
        'img': eMoney,
        'title': 'e-Money',
        'short_title': 'e-Money',
        'subtitle': 'Ведущий эмитент по прозрачных, процентных, обеспеченных валютой стейблкоинов для Интернета денег',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'NGM',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '22,801',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/emoney/stake?modal=stake&validator=emoneyvaloper1039h52c70xlqwfqh29gmqq70zwwf8xrs3t9mps',
        'coingecko_status': true
      },
      {
        'coin': 'osmosis',
        'img': Osmosis,
        'title': 'Osmosis',
        'short_title': 'Osmosis',
        'subtitle': 'Межцепочный AMM Cosmos, созданный на базе IBC',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'OSMO',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,154',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/osmosis/stake?modal=stake&validator=osmovaloper122yaxffys6rmv03nwwkmn3rvr5skzxl9lry2a5',
        'coingecko_status': true
      },
      {
        'coin': 'sifchain',
        'img': SifChain,
        'title': 'SifChain',
        'short_title': 'SifChain',
        'subtitle': 'Многоцепочечная децентрализованная биржа (DEX), которая разблокирует ликивдность в различных цепочках ',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'ROWAN',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,944',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/sifchain/stake?modal=stake&validator=sifvaloper1ecv3sdx8h54ckv8q8u67cyk0nj37rffwpj7cdx',
        'coingecko_status': true
      },
      {
        'coin': 'secret',
        'img': SecretNetwork,
        'title': 'Secret Network',
        'short_title': 'Secret Net.',
        'subtitle': 'Первый блокчейн со смарт-контрактами с конфиденциальностью данных по умолчанию, работает в сети!',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'SCRT',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,896',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/secret/stake?modal=stake&validator=secretvaloper12ancx2qcgk04rrkexuhjq93etgktq4nn58z9yu',
        'coingecko_status': true
      },
      {
        'coin': 'kava',
        'img': Kava,
        'title': 'Kava',
        'short_title': 'Kava',
        'subtitle': 'Kava Labs - разработчик платформы Kava, самого безопасного места DeFi для роста вашей криптовалюты',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'KAVA',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,007',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/kava/stake?modal=stake&validator=kavavaloper1j4tymd9r3au3vm508l4jugdg7l892l2lmh4jry',
        'coingecko_status': true
      },
      {
        'coin': 'iris-network',
        'img': Iris,
        'title': 'Iris',
        'short_title': 'Iris',
        'subtitle': 'Обеспечивает межсетевое взаимодействие, предоставляя модули для поддержки распределенных бизнес-систем',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'atom',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,612',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/irishub/stake?modal=stake&validator=iva1ycumtcdd6u2f2m2ar5u3szty524xmz6eac6lrh',
        'coingecko_status': true
      },
      {
        'coin': 'certik',
        'img': CertiK,
        'title': 'CertiK',
        'short_title': 'CertiK',
        'subtitle': 'Решения для централизованной безопасности - обеспечения правильности и безопасности ваших блокчейн-проектов',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'CTK',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,267',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/shentu/stake?modal=stake&validator=certikvaloper1qy7jncf45lluxaya5jaxf9r284jnmzz5fw2egh',
        'coingecko_status': true
      },
      {
        'coin': 'desmos',
        'img': Desmos,
        'title': 'Desmos',
        'short_title': 'Desmos',
        'subtitle': 'Протокол для создания открытых и децентрализованных социальных сетей',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'DSM',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,612',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://explorer.desmos.network/validators/desmosvaloper1zngdx77g9ywnwmwpwvj9w2eqcs6fhw78gn02d8',
        'coingecko_status': true
      },
      {
        'coin': 'comdex',
        'img': Comdex,
        'title': 'Comdex',
        'short_title': 'Comdex',
        'subtitle': 'Протокол синтетических активов на Cosmos',
        'percent': '20%',
        'fee': '0%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'CMDX',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,101',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.cosmostation.io/comdex',
        'coingecko_status': true
      },
      {
        'coin': 'akash-network',
        'img': Akash,
        'title': 'Akash',
        'short_title': 'Akash',
        'subtitle': 'Первое в мире децентрализованное и открытое облако',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'AKT',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,607',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/akashnet/stake?modal=stake&validator=akashvaloper1ksu368eh54vcqzruqk42dsnx88hvk8px09ws7q',
        'coingecko_status': true
      },
      {
        'coin': 'persistence',
        'img': Persistence,
        'title': 'Persistence',
        'short_title': 'Persistence',
        'subtitle': 'Протокол, обеспечивающий доступ к нескольким классам активов',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'XPRT',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,982',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/core/stake?modal=stake&validator=persistencevaloper1rxjmg3l0myaz6fzzvkum82lzyqz5acyxqqc08l',
        'coingecko_status': true
      },
      {
        'coin': 'medibloc',
        'img': Mediblock,
        'title': 'Mediblock',
        'short_title': 'Mediblock',
        'subtitle': 'Информационная экосистема персонального здравоохранения, построенная на блокчейне',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'MED',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.cosmostation.io/medibloc',
        'coingecko_status': true
      },
      {
        'coin': 'rizon',
        'img': Rizon,
        'title': 'Rizon',
        'short_title': 'Rizon',
        'subtitle': 'Основанная на Tendermint цифровая валюта и блокчейн-концентратор активов',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'ATOLO',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,908',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '55',
        'kepler_link': 'https://wallet.cosmostation.io/rizon',
        'coingecko_status': true
      },
      {
        'coin': 'bitsong',
        'img': BitSong,
        'title': 'BitSong',
        'short_title': 'BitSong',
        'subtitle': 'Артисты, фанаты, менеджеры и лейблы в единой целостной экосистеме',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'BTSG',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,977',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '35',
        'kepler_link': 'https://wallet.bitsong.io/validators/bitsongvaloper1pn6mhrwq8vdhns366jwxkggmhmxypuhrrc4huu',
        'coingecko_status': true
      },
      {
        'coin': 'likecoin',
        'img': LikeCoin,
        'title': 'LikeCoin',
        'short_title': 'LikeCoin',
        'subtitle': 'Децентрализует публикацию. Владейте своим контентом навсегда.',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'LIKE',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '17',
        'kepler_link': 'https://ping.pub/likecoin/staking/cosmosvaloper13ytytwjuerm3zc8svdvgh3vq7fgve75vnfxafm',
        'coingecko_status': true
      },
      {
        'coin': 'chihuahua',
        'img': Chihua,
        'title': 'Chihuahua',
        'short_title': 'Chihuahua',
        'subtitle': 'Мем коин сети космос',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'HUA',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,011',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '650',
        'kepler_link': 'https://ping.pub/chihuahua/staking/chihuahuavaloper1ju6mkyxpjsdcmrw0pnx6sd4zu4wywkmhtgnpr5',
        'coingecko_status': true
      },
      {
        'coin': 'lum-network',
        'img': Lum,
        'title': 'Lum Network',
        'short_title': 'Lum',
        'subtitle': 'Децентрализованный протокол для компаний, чтобы построить подлинное доверие со своими клиентами',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'LUM',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,921',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '62',
        'kepler_link': 'https://ping.pub/LUM%20Network/staking/lumvaloper1mpywgfyk6ku9uwfw4t6xhn050cjluhmjck27nx',
        'coingecko_status': true
      },
      {
        'coin': 'sentinel',
        'img': Sentinel,
        'title': 'Sentinel',
        'short_title': 'Sentinel',
        'subtitle': 'Создание безопасных приложений $dVPN на Sentinel',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'DVPN',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '60',
        'kepler_link': 'https://ping.pub/sentinel/staking/sentvaloper1hms0qpe27uulkllw96tmeqnl4hvxsf4vwp729v',
        'coingecko_status': true
      },
      {
        'coin': 'cheqd-network',
        'img': Cheqd,
        'title': 'CHEQD Network',
        'short_title': 'CHEQD',
        'subtitle': 'Создание частной и безопасной сети цифровых учетных данных SSI для надежной экономики данных',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'CHEQ',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '8',
        'kepler_link': 'https://ping.pub/cheqd/staking/cheqdvaloper1ny8gd9tsyqhm56agp4vkpa6fldr2n4guthcvfj',
        'coingecko_status': true
      },
      {
        'coin': 'dig-chain',
        'img': Dig,
        'title': 'DIG Chain',
        'short_title': 'DIG',
        'subtitle': 'Токенизация, фракционирование и управление недвижимостью через Dig Chain',
        'class': 'mobile-stacking__slider-top__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item next',
        'info_class': 'mobile-stacking__slider-info__item',
        'token': 'DIG',
        'week_data': [0.0181, 0.0180, 0.0182, 0.0179, 0.0178, 0.0176, 0.0175, 0.0174, 0.0173, 0.0172, 0.0171, 0.0170, 0.0169, 0.0173, 0.0168, 0.0167, 0.0166, 0.0165, 0.0164, 0.0163, 0.0162, 0.0161, 0.0160],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '50',
        'kepler_link': 'https://ping.pub/dig/staking/digvaloper1vm6m78glgfjaepaxwcdg6py380q7yasds2k2t8',
        'coingecko_status': false
      }
    ]
    this.netsToCalc = [
      {
        'img': this.nets[this.current].img,
        'title': this.nets[this.current].title,
        'percent': this.nets[this.current].percent,
        'fee': this.nets[this.current].fee,
        'course': this.nets[this.current].price
      }
    ]
  },
  methods: {
    toRight(){
      let netsCount = this.nets.length;
      const current = document.querySelector('.mobile-stacking__slider-top__item.current');
      const left = document.querySelector('.mobile-stacking__slider-top__item.left');
      const center = document.querySelector('.mobile-stacking__slider-top__item.center');
      const right = document.querySelector('.mobile-stacking__slider-top__item.right');
      const next = document.querySelectorAll('.mobile-stacking__slider-top__item.next');
      const items = document.querySelectorAll('.mobile-stacking__slider-top__item')
      const infos = document.querySelectorAll('.mobile-stacking__slider-info__item')
      if(this.current < netsCount-1){
        items[this.current].classList.remove('current')
        items[this.current+1].classList.add('current')
        infos[this.current].classList.remove('current')
        infos[this.current+1].classList.add('current')

        if(current.classList.contains('right')){
          left.classList.remove('left')
          left.classList.add('prev')
          center.classList.remove('center')
          center.classList.add('left')
          right.classList.remove('right')
          right.classList.add('center')
          next[0].classList.remove('next')
          next[0].classList.add('right')
        }
        this.current++;
      }
    },
    toLeft(){
      let netsCount = this.nets.length;
      const current = document.querySelector('.mobile-stacking__slider-top__item.current');
      const left = document.querySelector('.mobile-stacking__slider-top__item.left');
      const center = document.querySelector('.mobile-stacking__slider-top__item.center');
      const right = document.querySelector('.mobile-stacking__slider-top__item.right');
      const prev = document.querySelectorAll('.mobile-stacking__slider-top__item.prev');
      const items = document.querySelectorAll('.mobile-stacking__slider-top__item')
      const infos = document.querySelectorAll('.mobile-stacking__slider-info__item')
      if(this.current > 0){
        items[this.current].classList.remove('current')
        items[this.current-1].classList.add('current')
        infos[this.current].classList.remove('current')
        infos[this.current-1].classList.add('current')

        if(current.classList.contains('left')){
          left.classList.remove('left')
          left.classList.add('center')
          center.classList.remove('center')
          center.classList.add('right')
          right.classList.remove('right')
          right.classList.add('next')
          prev[prev.length-1].classList.remove('prev')
          prev[prev.length-1].classList.add('left')
        }
        this.current--;
      }
    },
    nextSlide(){
      const netsItem = document.querySelectorAll('.nets-popup__top-slider__wrapper-item');
      const netsNext = document.querySelectorAll('.nets-popup__top-slider__wrapper-item.next');
      const popupStat = document.querySelectorAll('.nets-popup__stat');
      if(this.current < this.nets.length-1){
        netsItem[this.current].classList.remove('current');
        netsItem[this.current].classList.add('prev');
        popupStat[this.current].classList.remove('current');
        this.current++;
        netsItem[this.current].classList.add('current');
        popupStat[this.current].classList.add('current');
        netsNext[0].classList.remove('next');
        netsNext[0].classList.add('current');
      }
    },
    prevSlide(){
      const netsItem = document.querySelectorAll('.nets-popup__top-slider__wrapper-item');
      const netsPrev = document.querySelectorAll('.nets-popup__top-slider__wrapper-item.prev');
      const popupStat = document.querySelectorAll('.nets-popup__stat')

      if(this.current>0){
        netsItem[this.current].classList.remove('current');
        netsItem[this.current].classList.add('next');
        popupStat[this.current].classList.remove('current');
        this.current--;
        netsItem[this.current].classList.add('current');
        popupStat[this.current].classList.add('current');
        netsPrev[netsPrev.length-1].classList.remove('prev')
        netsPrev[netsPrev.length-1].classList.add('current')
      }
    },
    popupClose(){
      const popup = document.querySelector('.nets-popup__background');
      popup.style.top = '-100%'
      const body = document.querySelector('body');
      body.style.overflowY = 'scroll'
    },
    getPopup(){
      const popup = document.querySelector('.nets-popup__background');
      popup.style.top = '0'
      const body = document.querySelector('body')
      body.style.overflowY = 'hidden'
      body.style.height = '100vh'
      const netsItem = document.querySelectorAll('.nets-popup__top-slider__wrapper-item');
      const popupStat = document.querySelectorAll('.nets-popup__stat')
      for(let i=0;i<this.current; i++){
        if(netsItem[i].classList.contains('current')){
          netsItem[i].classList.remove('current')
          popupStat[i].classList.remove('current')
        }
        if(netsItem[i].classList.contains('next')){
          netsItem[i].classList.remove('next')
        }
        netsItem[i].classList.add('prev')
      }
      netsItem[this.current].classList.add('current')
      popupStat[this.current].classList.add('current')
      if(netsItem[this.current].classList.contains('next')){
        netsItem[this.current].classList.remove('next')
      }
    },
    setCalc(){
      this.netsToCalc = [
        {
          'title': this.nets[this.current].title,
          'img': this.nets[this.current].img,
          'fee': this.nets[this.current].annual_comission,
          'course': this.nets[this.current].price,
          'short_title': this.nets[this.current].short_title,
          'kepler_link': this.nets[this.current].kepler_link
        }
      ]
      const calc = document.querySelector('.calc-validator')
      calc.style.display = 'flex'
    },
    round(number){
      return +number.toFixed(4);
    }
  }
}
</script>

<style scoped>

</style>