<template>
  <div class="mobile-stonks">
    <img class="mobile-stonks__bg" :src="stonksBg" alt="">
    <div class="mobile-stonks__top-line"></div>
    <div class="mobile-stonks__info">
      <div class="mobile-content">
        <p class="mobile-stonks__info-title">Рассчитайте свой доход</p>
        <p class="mobile-stonks__info-subtitle">Ваш прогнозируемый доход за вычетом комиссий в токенах и в долларах США. Ожидаемая годовая доходность указывается в процентах брутто и рассчитывается с учетом сетевых изменений.</p>
      </div>
    </div>
  </div>
</template>

<script>
import stonksBg from '../../static/mobile/dohod-bg.svg'
export default {
  name: "mobileStonks",
  data(){
    return{
      stonksBg
    }
  }
}
</script>

<style scoped>

</style>