<template>
  <div class="mobile-calculator">
    <div class="mobile-calculator__range">
      <div class="mobile-calculator__range-tracks">
        <div class="mobile-calculator__range-donetrack"></div>
        <div class="mobile-calculator__range-pretrack"></div>
      </div>
      <div class="mobile-calculator__range-thumb"></div>
      <input min="0" max="1000000" @input="calculate" type="range">
    </div>
    <div class="mobile-calculator__top">
      <button @click="toLeft" class="mobile-calculator__top-btn mobile-calculator__top-btn__left">
        <img :src="arrowLeft" alt="">
      </button>
      <button @click="toRight" class="mobile-calculator__top-btn mobile-calculator__top-btn__right">
        <img :src="arrowRight" alt="">
      </button>
      <div v-for="i in nets" :class="i.class">
        <img :src="i.img" alt="">
      </div>
    </div>
    <div class="mobile-calculator__info">
      <div v-for="i in nets" :class="i.info_class">
        <div class="mobile-calculator__info-item__top">
          <p>Сколько у вас <span>{{i.title}}</span>ов?</p>
          <p>Годовой доход</p>
        </div>
        <div class="mobile-calculator__info-item__values">
          <p class="mobile-calculator__info-item__values-tokens">0</p>
          <p class="mobile-calculator__info-item__values-price">+{{i.annual_comission}}%</p>
        </div>
        <div class="mobile-calculator__info-item__stonks">
          <div class="mobile-calculator__info-item__stonks-line"></div>
          <div class="mobile-calculator__info-item__stonks-item">
            <p>Ежедневный доход</p>
            <p><span class="ed-tokens">0</span>&ensp;{{i.short_title}}</p>
            <p>$<span class="ed-price">0</span></p>
          </div>
          <div class="mobile-calculator__info-item__stonks-line"></div>
          <div class="mobile-calculator__info-item__stonks-item">
            <p>Ежемесячный доход</p>
            <p><span class="em-tokens">0</span>&ensp;{{i.short_title}}</p>
            <p>$<span class="em-price">0</span></p>
          </div>
          <div class="mobile-calculator__info-item__stonks-line"></div>
          <div class="mobile-calculator__info-item__stonks-item">
            <p>Ежегодный доход</p>
            <p><span class="eg-tokens">0</span>&ensp;{{i.short_title}}</p>
            <p>$<span class="eg-price">0</span></p>
          </div>
          <button>
            <a target="_blank" :href="i.kepler_link"></a>
            <div></div>
            <p>Сделать ставку сейчас</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Akash from "@/static/nets/Akash.png"
import BandProtocol from "@/static/nets/BandProtocol.png"
import CertiK from "@/static/nets/CertiK.png"
import Comdex from "@/static/nets/Comdex.png"
import Cosmos from "@/static/nets/Cosmos.png"
import Desmos from "@/static/nets/Desmos.png"
import eMoney from "@/static/nets/eMoney.png"
import Iris from "@/static/nets/Iris.png"
import Juno from "@/static/nets/Juno.png"
import Kava from "@/static/nets/Kava.png"
import Ki from "@/static/nets/Ki.png"
import Mediblock from "@/static/nets/Mediblock.png"
import Osmosis from "@/static/nets/Osmosis.png"
import Persistence from "@/static/nets/Persistence.png"
import SecretNetwork from "@/static/nets/SecretNetwork.png"
import SifChain from "@/static/nets/SifChain.png"
import arrowLeft from '../../static/mobile/left.svg'
import arrowRight from '../../static/mobile/right.svg'
export default {
  name: "mobileCalculator",
  data(){
    return{
      Cosmos, Akash, BandProtocol, CertiK, Comdex,
      Desmos, eMoney, Iris, Juno, Kava, Ki, Mediblock,
      Osmosis, Persistence, SecretNetwork, SifChain,
      arrowLeft, arrowRight,
      nets: [],
      current: 0
    }
  },
  created() {
    this.nets = [
      {
        'coin': 'cosmos',
        'img': Cosmos,
        'title': 'Cosmos',
        'short_title': 'Cosmos',
        'subtitle': 'Открытая, масштабируемая и взаимосвязанная экономика будущего',
        'percent': '21%',
        'fee': '12%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item left current',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item current',
        'token': 'ATOM',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat current',
        'block_time': '4,129',
        'price': '50.21',
        'market_cap': '10,032,098,223.16',
        'h24_vol': '356,854,100.87',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/cosmoshub/stake?modal=stake&validator=cosmosvaloper1gf4wlkutql95j7wwsxz490s6fahlvk2s9xpwax'
      },
      {
        'coin': 'ki',
        'img': Ki,
        'title': 'Ki',
        'short_title': 'Ki',
        'subtitle': 'Ki объединяет CeFi и DeFi с использованием Tendermint Core',
        'percent': '54%',
        'fee': '7%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item center',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'XKI',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,821',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://www.mintscan.io/ki-chain/validators/kivaloper19seaxuh9wp3zum42w6flrjsr5raptxhy3l8qvw'
      },
      {
        'coin': 'juno-network',
        'img': Juno,
        'title': 'Juno',
        'short_title': 'Juno',
        'subtitle': 'Децентрализованная общедоступная сеть без разрешений для смарт-контрактов между цепочками',
        'percent': '20%',
        'fee': '9%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item right',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'JUNO',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,284',
        'market_cap': '12,092,932,751.26',
        'h24_vol': '408,987,330.21',
        'price': '34.72',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/juno/stake?modal=stake&validator=junovaloper1qr78535yz60zemv82sww948c6azx40gnawnh6r'
      },
      {
        'coin': 'band-protocol',
        'img': BandProtocol,
        'title': 'Band Protocol',
        'short_title': 'Band Pr.',
        'subtitle': 'Безопасный, масштабируемый кроссчейн децентрализованный - подключение смарт-контрактов к внешним данным и API',
        'percent': '32%',
        'fee': '8%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'BAND',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '3,187',
        'market_cap': '4,117,475,123.26',
        'h24_vol': '143,586,714.26',
        'price': '41.00',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://cosmoscan.io/validator/bandvaloper1hcu2spr3r80v36us40mg938f5qhaqq2qeajtfv#delegators'
      },
      {
        'coin': 'e-money',
        'img': eMoney,
        'title': 'e-Money',
        'short_title': 'e-Money',
        'subtitle': 'Ведущий эмитент по прозрачных, процентных, обеспеченных валютой стейблкоинов для Интернета денег',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'NGM',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '22,801',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/emoney/stake?modal=stake&validator=emoneyvaloper1039h52c70xlqwfqh29gmqq70zwwf8xrs3t9mps'
      },
      {
        'coin': 'osmosis',
        'img': Osmosis,
        'title': 'Osmosis',
        'short_title': 'Osmosis',
        'subtitle': 'Межцепочный AMM Cosmos, созданный на базе IBC',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'OSMO',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,154',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/osmosis/stake?modal=stake&validator=osmovaloper122yaxffys6rmv03nwwkmn3rvr5skzxl9lry2a5'
      },
      {
        'coin': 'sifchain',
        'img': SifChain,
        'title': 'SifChain',
        'short_title': 'SifChain',
        'subtitle': 'Многоцепочечная децентрализованная биржа (DEX), которая разблокирует ликивдность в различных цепочках ',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'ROWAN',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,944',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/sifchain/stake?modal=stake&validator=sifvaloper1ecv3sdx8h54ckv8q8u67cyk0nj37rffwpj7cdx'
      },
      {
        'coin': 'secret',
        'img': SecretNetwork,
        'title': 'Secret Network',
        'short_title': 'Secret Net.',
        'subtitle': 'Первый блокчейн со смарт-контрактами с конфиденциальностью данных по умолчанию, работает в сети!',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'SCRT',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,896',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/secret/stake?modal=stake&validator=secretvaloper12ancx2qcgk04rrkexuhjq93etgktq4nn58z9yu'
      },
      {
        'coin': 'kava',
        'img': Kava,
        'title': 'Kava',
        'short_title': 'Kava',
        'subtitle': 'Kava Labs - разработчик платформы Kava, самого безопасного места DeFi для роста вашей криптовалюты',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'KAVA',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,007',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/kava/stake?modal=stake&validator=kavavaloper1j4tymd9r3au3vm508l4jugdg7l892l2lmh4jry'
      },
      {
        'coin': 'iris-network',
        'img': Iris,
        'title': 'Iris',
        'short_title': 'Iris',
        'subtitle': 'Обеспечивает межсетевое взаимодействие, предоставляя модули для поддержки распределенных бизнес-систем',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'atom',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,612',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/irishub/stake?modal=stake&validator=iva1ycumtcdd6u2f2m2ar5u3szty524xmz6eac6lrh'
      },
      {
        'coin': 'certik',
        'img': CertiK,
        'title': 'CertiK',
        'short_title': 'CertiK',
        'subtitle': 'Решения для централизованной безопасности - обеспечения правильности и безопасности ваших блокчейн-проектов',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'CTK',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,267',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/shentu/stake?modal=stake&validator=certikvaloper1qy7jncf45lluxaya5jaxf9r284jnmzz5fw2egh'
      },
      {
        'coin': 'desmos',
        'img': Desmos,
        'title': 'Desmos',
        'short_title': 'Desmos',
        'subtitle': 'Протокол для создания открытых и децентрализованных социальных сетей',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'DSM',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,612',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://explorer.desmos.network/validators/desmosvaloper1zngdx77g9ywnwmwpwvj9w2eqcs6fhw78gn02d8'
      },
      {
        'coin': 'comdex',
        'img': Comdex,
        'title': 'Comdex',
        'short_title': 'Comdex',
        'subtitle': 'Протокол синтетических активов на Cosmos',
        'percent': '20%',
        'fee': '0%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'CMDX',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,101',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.cosmostation.io/comdex'
      },
      {
        'coin': 'akash-network',
        'img': Akash,
        'title': 'Akash',
        'short_title': 'Akash',
        'subtitle': 'Первое в мире децентрализованное и открытое облако',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'AKT',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,607',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/akashnet/stake?modal=stake&validator=akashvaloper1ksu368eh54vcqzruqk42dsnx88hvk8px09ws7q'
      },
      {
        'coin': 'persistence',
        'img': Persistence,
        'title': 'Persistence',
        'short_title': 'Persistence',
        'subtitle': 'Протокол, обеспечивающий доступ к нескольким классам активов',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'XPRT',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,982',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/core/stake?modal=stake&validator=persistencevaloper1rxjmg3l0myaz6fzzvkum82lzyqz5acyxqqc08l'
      },
      {
        'coin': 'medibloc',
        'img': Mediblock,
        'title': 'Mediblock',
        'short_title': 'Mediblock',
        'subtitle': 'Информационная экосистема персонального здравоохранения, построенная на блокчейне',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'mobile-calculator__top-item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'mobile-calculator__info-item',
        'token': 'MED',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.cosmostation.io/medibloc'
      }
    ]
  },
  methods: {
    toRight(){
      const range = document.querySelector('.mobile-calculator__range input')
      const mainPrice = document.querySelectorAll('.mobile-calculator__info-item__values-tokens')
      range.value = parseInt(mainPrice[this.current+1].innerText.replace(',', ''))
      const track = document.querySelector('.mobile-calculator__range-donetrack')
      const thumb = document.querySelector('.mobile-calculator__range-thumb')
      const pretrack = document.querySelector('.mobile-calculator__range-pretrack')
      track.style.width = 'calc('+(range.value*100)/1000000+'%)'
      thumb.style.left = 'calc('+(range.value*100)/1000000+'% - 0.5rem)'
      pretrack.style.width = 'calc(100% - '+(range.value*100)/1000000+'%)'


      let netsCount = this.nets.length;
      const current = document.querySelector('.mobile-calculator__top-item.current');
      const left = document.querySelector('.mobile-calculator__top-item.left');
      const center = document.querySelector('.mobile-calculator__top-item.center');
      const right = document.querySelector('.mobile-calculator__top-item.right');
      const next = document.querySelectorAll('.mobile-calculator__top-item.next');
      const items = document.querySelectorAll('.mobile-calculator__top-item')
      const infos = document.querySelectorAll('.mobile-calculator__info-item')
      if(this.current < netsCount-1){
        items[this.current].classList.remove('current')
        items[this.current+1].classList.add('current')
        infos[this.current].classList.remove('current')
        infos[this.current+1].classList.add('current')

        if(current.classList.contains('right')){
          left.classList.remove('left')
          left.classList.add('prev')
          center.classList.remove('center')
          center.classList.add('left')
          right.classList.remove('right')
          right.classList.add('center')
          next[0].classList.remove('next')
          next[0].classList.add('right')
        }
        this.current++;
      }
    },
    toLeft(){
      const range = document.querySelector('.mobile-calculator__range input')
      const mainPrice = document.querySelectorAll('.mobile-calculator__info-item__values-tokens')
      range.value = parseInt(mainPrice[this.current-1].innerText.replace(',', ''))
      const track = document.querySelector('.mobile-calculator__range-donetrack')
      const thumb = document.querySelector('.mobile-calculator__range-thumb')
      const pretrack = document.querySelector('.mobile-calculator__range-pretrack')
      track.style.width = 'calc('+(range.value*100)/1000000+'%)'
      thumb.style.left = 'calc('+(range.value*100)/1000000+'% - 0.5rem)'
      pretrack.style.width = 'calc(100% - '+(range.value*100)/1000000+'%)'


      const current = document.querySelector('.mobile-calculator__top-item.current');
      const left = document.querySelector('.mobile-calculator__top-item.left');
      const center = document.querySelector('.mobile-calculator__top-item.center');
      const right = document.querySelector('.mobile-calculator__top-item.right');
      const prev = document.querySelectorAll('.mobile-calculator__top-item.prev');
      const items = document.querySelectorAll('.mobile-calculator__top-item')
      const infos = document.querySelectorAll('.mobile-calculator__info-item')
      if(this.current > 0){
        items[this.current].classList.remove('current')
        items[this.current-1].classList.add('current')
        infos[this.current].classList.remove('current')
        infos[this.current-1].classList.add('current')

        if(current.classList.contains('left')){
          left.classList.remove('left')
          left.classList.add('center')
          center.classList.remove('center')
          center.classList.add('right')
          right.classList.remove('right')
          right.classList.add('next')
          prev[prev.length-1].classList.remove('prev')
          prev[prev.length-1].classList.add('left')
        }
        this.current--;
      }
    },
    calculate(e){
      const track = document.querySelector('.mobile-calculator__range-donetrack')
      const thumb = document.querySelector('.mobile-calculator__range-thumb')
      const pretrack = document.querySelector('.mobile-calculator__range-pretrack')
      const mainPrice = document.querySelectorAll('.mobile-calculator__info-item__values-tokens')
      const edTokens = document.querySelectorAll('.mobile-calculator__info-item__stonks-item .ed-tokens')
      const emTokens = document.querySelectorAll('.mobile-calculator__info-item__stonks-item .em-tokens')
      const egTokens = document.querySelectorAll('.mobile-calculator__info-item__stonks-item .eg-tokens')
      const edPrice = document.querySelectorAll('.mobile-calculator__info-item__stonks-item .ed-price')
      const emPrice = document.querySelectorAll('.mobile-calculator__info-item__stonks-item .em-price')
      const egPrice = document.querySelectorAll('.mobile-calculator__info-item__stonks-item .eg-price')
      let netsArray = this.nets
      track.style.width = 'calc('+(e.target.value*100)/1000000+'%)'
      thumb.style.left = 'calc('+(e.target.value*100)/1000000+'% - 0.5rem)'
      pretrack.style.width = 'calc(100% - '+(e.target.value*100)/1000000+'%)'
      mainPrice.innerText = e.target.value
      if(e.target.value.length === 4){
        mainPrice[this.current].innerText = e.target.value.substr(0, 1)+','+e.target.value.substr(1)
      }
      if(e.target.value.length === 5){
        mainPrice[this.current].innerText = e.target.value.substr(0, 2)+','+e.target.value.substr(2)
      }
      if(e.target.value.length === 6){
        mainPrice[this.current].innerText = e.target.value.substr(0, 3)+','+e.target.value.substr(3)
      }
      edTokens[this.current].innerText = Math.floor(((e.target.value/100)*netsArray[this.current].annual_comission)/365)
      emTokens[this.current].innerText = Math.floor(((e.target.value/100)*netsArray[this.current].annual_comission)/12)
      egTokens[this.current].innerText = Math.floor(((e.target.value/100)*netsArray[this.current].annual_comission)/1)

      edPrice[this.current].innerText = Math.floor((Math.floor(((e.target.value/100)*netsArray[this.current].annual_comission)/365))*netsArray[this.current].price)
      emPrice[this.current].innerText = Math.floor((Math.floor(((e.target.value/100)*netsArray[this.current].annual_comission)/12))*netsArray[this.current].price)
      egPrice[this.current].innerText = Math.floor((Math.floor(((e.target.value/100)*netsArray[this.current].annual_comission)/1))*netsArray[this.current].price)
    }
  }
}
</script>

<style scoped>

</style>