<template>
  <div class="mobile-benefits">
    <div class="mobile-content">
      <p class="mobile-benefits__title">Преимущества наших нод</p>
      <p class="mobile-benefits__subtitle">Stakewolle - лучшее место для инвесторов с активами более 500 тысяч долларов.<br>Мы обеспечиваем высочайший уровень безопасности, поддержки и оптимизации производительности для защиты ваших активов и получения максимальной прибыли. </p>
      <div class="mobile-benefits__cards">
        <div class="mobile-benefits__cards-item">
          <div class="mobile-benefits__cards-item__logo">
            <img :src="time" alt="">
          </div>
          <p>Круглосуточно следим за обновлениями сетей и нод, что бы вы стабильно получали вознаграждения.</p>
        </div>
        <div class="mobile-benefits__cards-item">
          <div class="mobile-benefits__cards-item__logo">
            <img :src="guard" alt="">
          </div>
          <p>Современные протоколы шифрования, обеспечивают безопасную и стабильную инфраструктуру.</p>
        </div>
        <div class="mobile-benefits__cards-item">
          <div class="mobile-benefits__cards-item__logo">
            <img :src="net" alt="">
          </div>
          <p>Активно участвуем в расширении сети нового поколения и твердо верим в будущее децентрализации!</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import time from '../../static/24-hours 1.svg'
import guard from '../../static/shield 1.svg'
import net from '../../static/globe-grid 1.svg'
export default {
  name: "mobileBenefits",
  data(){
    return{
      time, guard, net
    }
  }
}
</script>

<style scoped>

</style>