<template>
  <div class="mobile-validators">
    <img id="orange-k" :src="orangeK" alt="">
    <img id="rounded-dark" :src="roundedDark" alt="">
    <img id="validators-bg" :src="validatorsBg" alt="">
    <div class="mobile-content">
      <p class="mobile-validators__title">Сети, в которых мы скоро будем валидаторами:</p>
      <p class="mobile-validators__subtitle">Блокчейн, позволяет осуществлять обмен токенами между сетями системы Космос</p>
    </div>
    <div class="mobile-validators__item">
      <img :src="eMoney" alt="">
      <p class="mobile-validators__item-title">e-Money</p>
      <p class="mobile-validators__item-subtitle">Блокчейн позволяет осуществлять обмен токенами между сетями системы Космос</p>
      <button class="mobile-validators__item-btn">
        <div class="mobile-validators__item-btn__bg"></div>
        <p>Узнать больше</p>
      </button>
    </div>
    <div class="mobile-validators__item">
      <img :src="CertiK" alt="">
      <p class="mobile-validators__item-title">CertiK</p>
      <p class="mobile-validators__item-subtitle">Блокчейн, позволяет осуществлять обмен токенами между сетями системы Космос</p>
      <button class="mobile-validators__item-btn">
        <div class="mobile-validators__item-btn__bg"></div>
        <p>Узнать больше</p>
      </button>
    </div>
    <div class="mobile-validators__item">
      <img :src="Comdex" alt="">
      <p class="mobile-validators__item-title">Comdex</p>
      <p class="mobile-validators__item-subtitle">Блокчейн, позволяет осуществлять обмен токенами между сетями системы Космос</p>
      <button class="mobile-validators__item-btn">
        <div class="mobile-validators__item-btn__bg"></div>
        <p>Узнать больше</p>
      </button>
    </div>
  </div>
</template>

<script>
import orangeK from '../../static/mobile/orange-k.svg'
import eMoney from '../../static/nets/eMoney.png'
import CertiK from '../../static/nets/CertiK.png'
import Comdex from '../../static/nets/Comdex.png'
import roundedDark from '../../static/mobile/rounded-dark.png'
import validatorsBg from '../../static/mobile/big-bg.png'
export default {
  name: "mobileValidators",
  data(){
    return{
      orangeK,
      eMoney,
      CertiK,
      Comdex,
      roundedDark,
      validatorsBg
    }
  }
}
</script>

<style scoped>

</style>