<template>
  <div class="mobile-about-us">
    <img src="" alt="">
    <div class="mobile-about-us__bg"></div>
    <div class="mobile-content">
      <div class="mobile-about-us__info">
        <p class="mobile-about-us__info-title">О нас</p>
        <p class="mobile-about-us__info-subtitle">Мы являемся ведущим поставщиком стекинг-услуг для блокчейн-проектов.<br>Присоединяйтесь к нашему сообществу, чтобы участвовать в развитии защищенных сетей и получать вознаграждения за это!<br>Мы знаем о стекинге всё.</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "mobileAboutUs"
}
</script>

<style scoped>

</style>