<template>
  <div class="about-us">
    <div class="about-us__info">
      <div class="about-us__info-text">
        <p class="about-us__info-text__title">О нас</p>
        <p class="about-us__info-text__description">Мы являемся ведущим поставщиком стекинг-услуг для блокчейн-проектов.<br>Присоединяйтесь к нашему сообществу, чтобы участвовать в развитии защищенных сетей и получать вознаграждения за это!<br>Мы знаем о стекинге всё.</p>
      </div>
    </div>
  </div>
</template>

<script>
import about from "@/static/about-us.svg"
export default {
  name: "AboutUs",
  data(){
    return{
      about
    }
  }
}
</script>

<style scoped>

</style>
