<template>
    <div class="benefits">
      <h3>Преимущества наших нод</h3>
      <h4>Stakewolle - лучшее место для инвесторов с активами более 500 тысяч долларов.<br>Мы обеспечиваем высочайший уровень безопасности, поддержки и оптимизации производительности для защиты ваших активов и получения максимальной прибыли.</h4>
      <div class="benefits-wrapper">
        <div v-for="i in benefits" class="benefits-wrapper__item">
          <div class="benefits-wrapper__item-icon">
            <img :src="i.img" alt="">
          </div>
          <div class="benefits-wrapper__item-description">
            <p>{{ i.description }}</p>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import shield from '../static/shield 1.svg'
import gg from '../static/globe-grid 1.svg'
import timer from '../static/24-hours 1.svg'

export default {
  name: "Benefits",
  data(){
    return{
      shield, gg, timer,
      benefits: []
    }
  },
  created() {
    this.benefits = [
      {img: gg, description: 'Активно участвуем в расширении сети нового поколения и твердо верим в будущее децентрализации!'},
      {img: shield, description: 'Современные протоколы шифрования, обеспечивают безопасную и стабильную инфраструктуру.'},
      {img: timer, description: 'Круглосуточно следим за обновлениями сетей и нод, что бы вы стабильно получали вознаграждения.'},
    ]
  }
}
</script>

<style scoped>

</style>
