<template>
  <div class="calculator">
    <div class="calculator-info">
      <div class="calculator-wrapper">
        <div class="calculator-wrapper__range">
          <div class="calculator-wrapper__range-tracks">
            <div class="calculator-wrapper__range-donetrack"></div>
            <div class="calculator-wrapper__range-pretrack"></div>
          </div>
          <div class="calculator-wrapper__range-thumb"></div>
          <input min="0" max="1000000" @input="calculate" type="range">
        </div>
        <div class="calculator-wrapper__top">
          <button @click="toLeft" class="calculator-wrapper__top-btn__left">
            <img :src="arrowLeft" alt="">
          </button>
          <button @click="toRight" class="calculator-wrapper__top-btn__right">
            <img :src="arrowRight" alt="">
          </button>
          <div v-for="i in nets" :class="i.class">
            <img :src="i.img" alt="">
          </div>
        </div>
        <div class="calculator-wrapper__description">
          <div v-for="i in nets" :class="i.info_class">
            <div class="calculator-wrapper__info-header">
              <p>Сколько у вас <span>{{i.title}}</span>ов?</p>
              <p>Годовой доход</p>
            </div>
            <div class="calculator-wrapper__info-values">
              <p class="calculator-wrapper__info-values__price">0</p>
              <p>+{{i.annual_comission}}%</p>
            </div>
            <div class="calculator-wrapper__info-stonks">
              <div class="calculator-wrapper__info-stonks__line"></div>
              <div class="calculator-wrapper__info-stonks__item">
                <p>Ежедневный доход</p>
                <p><span class="ed-tokens">0</span> {{i.short_title}}</p>
                <p>$ <span class="ed-price">0</span></p>
              </div>
              <div class="calculator-wrapper__info-stonks__line"></div>
              <div class="calculator-wrapper__info-stonks__item">
                <p>Ежемесячный доход</p>
                <p><span class="em-tokens">0</span> {{i.short_title}}</p>
                <p>$ <span class="em-price">0</span></p>
              </div>
              <div class="calculator-wrapper__info-stonks__line"></div>
              <div class="calculator-wrapper__info-stonks__item">
                <p>Ежегодный доход</p>
                <p><span class="eg-tokens">0</span> {{i.short_title}}</p>
                <p>$ <span class="eg-price">0</span></p>
              </div>
            </div>
            <button class="calculator-wrapper__info-btn">
              <a target="_blank" :href="i.kepler_link"></a>
              <div class="calculator-wrapper__info-btn__bg"></div>
              <p>Сделать ставку сейчас</p>
            </button>

          </div>

        </div>
      </div>
      <div class="calculator-info__text">
        <p class="calculator-info__text-title">Рассчитайте свой доход</p>
        <p class="calculator-info__text-subtitle">Ваш прогнозируемый доход за вычетом комиссий в токенах и в долларах США.<br>Ожидаемая годовая доходность указывается в процентах брутто и рассчитывается с учетом сетевых изменений.</p>
      </div>
    </div>
  </div>
</template>

<script>
import roundWhite from '../static/Round white.png'
import Akash from "@/static/nets/Akash.png"
import BandProtocol from "@/static/nets/BandProtocol.png"
import CertiK from "@/static/nets/CertiK.png"
import Comdex from "@/static/nets/Comdex.png"
import Cosmos from "@/static/nets/Cosmos.png"
import Desmos from "@/static/nets/Desmos.png"
import eMoney from "@/static/nets/eMoney.png"
import Iris from "@/static/nets/Iris.png"
import Juno from "@/static/nets/Juno.png"
import Kava from "@/static/nets/Kava.png"
import Ki from "@/static/nets/Ki.png"
import Mediblock from "@/static/nets/Mediblock.png"
import Osmosis from "@/static/nets/Osmosis.png"
import Persistence from "@/static/nets/Persistence.png"
import SecretNetwork from "@/static/nets/SecretNetwork.png"
import SifChain from "@/static/nets/SifChain.png"
import Rizon from '../static/nets/Rizon.png'
import BitSong from '../static/nets/BitSong.png'
import LikeCoin from '../static/nets/LikeKoin.png'
import Chihua from '../static/nets/Chihua.png'
import Lum from '../static/nets/Lum.png'
import Sentinel from '../static/nets/Sentinel.png'
import Cheqd from '../static/nets/Cheqd.png'
import Dig from '../static/nets/Dig.png'


import arrowLeft from '@/static/mobile/left.svg'
import arrowRight from '@/static/mobile/right.svg'
export default {
  name: "Calculator",
  data(){
    return{
      roundWhite,
      nets: [],
      Cosmos, Akash, BandProtocol, CertiK, Comdex,
      Desmos, eMoney, Iris, Juno, Kava, Ki, Mediblock,
      Osmosis, Persistence, SecretNetwork, SifChain,
      Rizon, BitSong, LikeCoin, Chihua, Lum, Sentinel,
      Cheqd, Dig,
      arrowLeft, arrowRight,
      current: 0
    }
  },
  async created(){
    this.nets = [
      {
        'coin': 'cosmos',
        'img': Cosmos,
        'title': 'Cosmos',
        'short_title': 'Cosmos',
        'subtitle': 'Открытая, масштабируемая и взаимосвязанная экономика будущего',
        'percent': '21%',
        'fee': '12%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item _01 current',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info current',
        'token': 'ATOM',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat current',
        'block_time': '4,129',
        'price': '50.21',
        'market_cap': '10,032,098,223.16',
        'h24_vol': '356,854,100.87',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/cosmoshub/stake?modal=stake&validator=cosmosvaloper1gf4wlkutql95j7wwsxz490s6fahlvk2s9xpwax'
      },
      {
        'coin': 'ki',
        'img': Ki,
        'title': 'Ki',
        'short_title': 'Ki',
        'subtitle': 'Ki объединяет CeFi и DeFi с использованием Tendermint Core',
        'percent': '54%',
        'fee': '7%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item _02',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'XKI',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,821',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://www.mintscan.io/ki-chain/validators/kivaloper19seaxuh9wp3zum42w6flrjsr5raptxhy3l8qvw'
      },
      {
        'coin': 'juno-network',
        'img': Juno,
        'title': 'Juno',
        'short_title': 'Juno',
        'subtitle': 'Децентрализованная общедоступная сеть без разрешений для смарт-контрактов между цепочками',
        'percent': '20%',
        'fee': '9%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item _03',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'JUNO',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,284',
        'market_cap': '12,092,932,751.26',
        'h24_vol': '408,987,330.21',
        'price': '34.72',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/juno/stake?modal=stake&validator=junovaloper1qr78535yz60zemv82sww948c6azx40gnawnh6r'
      },
      {
        'coin': 'band-protocol',
        'img': BandProtocol,
        'title': 'Band Protocol',
        'short_title': 'Band Pr.',
        'subtitle': 'Безопасный, масштабируемый кроссчейн децентрализованный - подключение смарт-контрактов к внешним данным и API',
        'percent': '32%',
        'fee': '8%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item _04',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'BAND',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '3,187',
        'market_cap': '4,117,475,123.26',
        'h24_vol': '143,586,714.26',
        'price': '41.00',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://cosmoscan.io/validator/bandvaloper1hcu2spr3r80v36us40mg938f5qhaqq2qeajtfv#delegators'
      },
      {
        'coin': 'e-money',
        'img': eMoney,
        'title': 'e-Money',
        'short_title': 'e-Money',
        'subtitle': 'Ведущий эмитент по прозрачных, процентных, обеспеченных валютой стейблкоинов для Интернета денег',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item _05',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'NGM',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '22,801',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/emoney/stake?modal=stake&validator=emoneyvaloper1039h52c70xlqwfqh29gmqq70zwwf8xrs3t9mps'
      },
      {
        'coin': 'osmosis',
        'img': Osmosis,
        'title': 'Osmosis',
        'short_title': 'Osmosis',
        'subtitle': 'Межцепочный AMM Cosmos, созданный на базе IBC',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item _06',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'OSMO',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,154',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/osmosis/stake?modal=stake&validator=osmovaloper122yaxffys6rmv03nwwkmn3rvr5skzxl9lry2a5'
      },
      {
        'coin': 'sifchain',
        'img': SifChain,
        'title': 'SifChain',
        'short_title': 'SifChain',
        'subtitle': 'Многоцепочечная децентрализованная биржа (DEX), которая разблокирует ликивдность в различных цепочках ',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'ROWAN',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,944',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/sifchain/stake?modal=stake&validator=sifvaloper1ecv3sdx8h54ckv8q8u67cyk0nj37rffwpj7cdx'
      },
      {
        'coin': 'secret',
        'img': SecretNetwork,
        'title': 'Secret Network',
        'short_title': 'Secret Net.',
        'subtitle': 'Первый блокчейн со смарт-контрактами с конфиденциальностью данных по умолчанию, работает в сети!',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'SCRT',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,896',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/secret/stake?modal=stake&validator=secretvaloper12ancx2qcgk04rrkexuhjq93etgktq4nn58z9yu'
      },
      {
        'coin': 'kava',
        'img': Kava,
        'title': 'Kava',
        'short_title': 'Kava',
        'subtitle': 'Kava Labs - разработчик платформы Kava, самого безопасного места DeFi для роста вашей криптовалюты',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'KAVA',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,007',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/kava/stake?modal=stake&validator=kavavaloper1j4tymd9r3au3vm508l4jugdg7l892l2lmh4jry'
      },
      {
        'coin': 'iris-network',
        'img': Iris,
        'title': 'Iris',
        'short_title': 'Iris',
        'subtitle': 'Обеспечивает межсетевое взаимодействие, предоставляя модули для поддержки распределенных бизнес-систем',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'atom',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,612',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/irishub/stake?modal=stake&validator=iva1ycumtcdd6u2f2m2ar5u3szty524xmz6eac6lrh'
      },
      {
        'coin': 'certik',
        'img': CertiK,
        'title': 'CertiK',
        'short_title': 'CertiK',
        'subtitle': 'Решения для централизованной безопасности - обеспечения правильности и безопасности ваших блокчейн-проектов',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'CTK',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,267',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/shentu/stake?modal=stake&validator=certikvaloper1qy7jncf45lluxaya5jaxf9r284jnmzz5fw2egh'
      },
      {
        'coin': 'desmos',
        'img': Desmos,
        'title': 'Desmos',
        'short_title': 'Desmos',
        'subtitle': 'Протокол для создания открытых и децентрализованных социальных сетей',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'DSM',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '7,612',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://explorer.desmos.network/validators/desmosvaloper1zngdx77g9ywnwmwpwvj9w2eqcs6fhw78gn02d8'
      },
      {
        'coin': 'comdex',
        'img': Comdex,
        'title': 'Comdex',
        'short_title': 'Comdex',
        'subtitle': 'Протокол синтетических активов на Cosmos',
        'percent': '20%',
        'fee': '0%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'CMDX',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,101',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.cosmostation.io/comdex'
      },
      {
        'coin': 'akash-network',
        'img': Akash,
        'title': 'Akash',
        'short_title': 'Akash',
        'subtitle': 'Первое в мире децентрализованное и открытое облако',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'AKT',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '6,607',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/akashnet/stake?modal=stake&validator=akashvaloper1ksu368eh54vcqzruqk42dsnx88hvk8px09ws7q'
      },
      {
        'coin': 'persistence',
        'img': Persistence,
        'title': 'Persistence',
        'short_title': 'Persistence',
        'subtitle': 'Протокол, обеспечивающий доступ к нескольким классам активов',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'XPRT',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,982',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.keplr.app/#/core/stake?modal=stake&validator=persistencevaloper1rxjmg3l0myaz6fzzvkum82lzyqz5acyxqqc08l'
      },
      {
        'coin': 'medibloc',
        'img': Mediblock,
        'title': 'Mediblock',
        'short_title': 'Mediblock',
        'subtitle': 'Информационная экосистема персонального здравоохранения, построенная на блокчейне',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'MED',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '20',
        'kepler_link': 'https://wallet.cosmostation.io/medibloc'
      },
      {
        'coin': 'rizon',
        'img': Rizon,
        'title': 'Rizon',
        'short_title': 'Rizon',
        'subtitle': 'Основанная на Tendermint цифровая валюта и блокчейн-концентратор активов',
        'percent': '20%',
        'fee': '1%',
        'market': 'ATOM',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'ATOLO',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '55',
        'kepler_link': 'https://wallet.cosmostation.io/rizon'
      },
      {
        'coin': 'bitsong',
        'img': BitSong,
        'title': 'BitSong',
        'short_title': 'BitSong',
        'subtitle': 'Артисты, фанаты, менеджеры и лейблы в единой целостной экосистеме',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'BTSG',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '35',
        'kepler_link': 'https://wallet.bitsong.io/validators/bitsongvaloper1pn6mhrwq8vdhns366jwxkggmhmxypuhrrc4huu'
      },
      {
        'coin': 'likecoin',
        'img': LikeCoin,
        'title': 'LikeCoin',
        'short_title': 'LikeCoin',
        'subtitle': 'Децентрализует публикацию. Владейте своим контентом навсегда.',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'LIKE',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '17',
        'kepler_link': 'https://ping.pub/likecoin/staking/cosmosvaloper13ytytwjuerm3zc8svdvgh3vq7fgve75vnfxafm'
      },
      {
        'coin': 'chihuahua',
        'img': Chihua,
        'title': 'Chihuahua',
        'short_title': 'Chihuahua',
        'subtitle': 'Мем коин сети космос',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'HUA',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '5%',
        'annual_comission': '650',
        'kepler_link': 'https://ping.pub/chihuahua/staking/chihuahuavaloper1ju6mkyxpjsdcmrw0pnx6sd4zu4wywkmhtgnpr5'
      },
      {
        'coin': 'lum-network',
        'img': Lum,
        'title': 'Lum Network',
        'short_title': 'Lum',
        'subtitle': 'Децентрализованный протокол для компаний, чтобы построить подлинное доверие со своими клиентами.\n',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'LUM',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '62',
        'kepler_link': 'https://ping.pub/LUM%20Network/staking/lumvaloper1mpywgfyk6ku9uwfw4t6xhn050cjluhmjck27nx'
      },
      {
        'coin': 'sentinel',
        'img': Sentinel,
        'title': 'Sentinel',
        'short_title': 'Sentinel',
        'subtitle': 'Создание безопасных приложений $dVPN на Sentinel',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'DVPN',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '60',
        'kepler_link': 'https://ping.pub/sentinel/staking/sentvaloper1hms0qpe27uulkllw96tmeqnl4hvxsf4vwp729v'
      },
      {
        'coin': 'cheqd-network',
        'img': Cheqd,
        'title': 'CHEQD Network',
        'short_title': 'CHEQD',
        'subtitle': 'Создание частной и безопасной сети цифровых учетных данных SSI для надежной экономики данных',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'CHEQ',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '8',
        'kepler_link': 'https://ping.pub/cheqd/staking/cheqdvaloper1ny8gd9tsyqhm56agp4vkpa6fldr2n4guthcvfj'
      },
      {
        'coin': 'dig-chain',
        'img': Dig,
        'title': 'DIG Chain',
        'short_title': 'DIG',
        'subtitle': 'Токенизация, фракционирование и управление недвижимостью через Dig Chain',
        'class': 'calculator-wrapper__item next',
        'class_slider': 'nets-popup__top-slider__wrapper-item current',
        'info_class': 'calculator-wrapper__info',
        'token': 'DIG',
        'week_data': [],
        'nets_stat_class': 'nets-popup__stat',
        'block_time': '5,890',
        'market_cap': '6,092,932,751.26',
        'h24_vol': '267,051,899.44',
        'price': '21.48',
        'h24_range': [],
        'stakewolle_comission': '0%',
        'annual_comission': '50',
        'kepler_link': 'https://ping.pub/dig/staking/digvaloper1vm6m78glgfjaepaxwcdg6py380q7yasds2k2t8'
      }
    ]
    
    for(let i=0; i<this.nets.length; i++){
      let coinsPrice = await this.$axios.$get('https://api.coingecko.com/api/v3/simple/price?ids='+this.nets[i].coin+'&vs_currencies=USD')
      try {
        this.nets[i].course = coinsPrice[this.nets[i].coin].usd
      } catch (e) {
        console.log(e)
      }
    }
  },
  methods: {
    toRight () {
      const netsCount = this.nets;
      if(netsCount.length-1 > this.current){
        const range = document.querySelector('.calculator .calculator-wrapper__range input')
        const mainPrice = document.querySelectorAll('.calculator .calculator-wrapper__info-values__price')
        range.value = parseInt(mainPrice[this.current+1].innerText.replace(',', ''))
        const track = document.querySelector('.calculator .calculator-wrapper__range-donetrack')
        const thumb = document.querySelector('.calculator .calculator-wrapper__range-thumb')
        const pretrack = document.querySelector('.calculator .calculator-wrapper__range-pretrack')
        track.style.width = 'calc('+(range.value*100)/1000000+'%)'
        thumb.style.left = 'calc('+(range.value*100)/1000000+'% - 1rem)'
        pretrack.style.width = 'calc(100% - '+(range.value*100)/1000000+'%)'

        const sliderNext = document.querySelectorAll('.calculator .calculator-wrapper__item.next');
        const sliderItems = document.querySelectorAll('.calculator .calculator-wrapper__item')
        const _01 = document.querySelector('._01');
        const _02 = document.querySelector('._02');
        const _03 = document.querySelector('._03');
        const _04 = document.querySelector('._04');
        const _05 = document.querySelector('._05');
        const _06 = document.querySelector('._06');
        const current = document.querySelector('.calculator-wrapper__item.current')
        const sliderInfo = document.querySelectorAll('.calculator .calculator-wrapper__info')

        sliderInfo[this.current].classList.remove('current')
        sliderInfo[this.current+1].classList.add('current')

        sliderItems[this.current].classList.remove('current')
        sliderItems[this.current+1].classList.add('current')
        

        if(current.classList.contains('_06')){
          _01.classList.remove('_01')
          _01.classList.add('prev')
          _02.classList.remove('_02')
          _02.classList.add('_01')
          _03.classList.remove('_03')
          _03.classList.add('_02')
          _04.classList.remove('_04')
          _04.classList.add('_03')
          _05.classList.remove('_05')
          _05.classList.add('_04')
          _06.classList.remove('_06')
          _06.classList.add('_05')
          sliderNext[0].classList.remove('next')
          sliderNext[0].classList.add('_06')
        }
        this.current++;
      }
    },
    toLeft () {
      if(this.current > 0){
        const range = document.querySelector('.calculator .calculator-wrapper__range input')
        const mainPrice = document.querySelectorAll('.calculator .calculator-wrapper__info-values__price')
        range.value = parseInt(mainPrice[this.current-1].innerText.replace(',', ''))
        const track = document.querySelector('.calculator .calculator-wrapper__range-donetrack')
        const thumb = document.querySelector('.calculator .calculator-wrapper__range-thumb')
        const pretrack = document.querySelector('.calculator .calculator-wrapper__range-pretrack')
        track.style.width = 'calc('+(range.value*100)/1000000+'%)'
        thumb.style.left = 'calc('+(range.value*100)/1000000+'% - 1rem)'
        pretrack.style.width = 'calc(100% - '+(range.value*100)/1000000+'%)'

        const sliderPrev = document.querySelectorAll('.calculator .calculator-wrapper__item.prev');
        const sliderItems = document.querySelectorAll('.calculator .calculator-wrapper__item')
        const _01 = document.querySelector('._01');
        const _02 = document.querySelector('._02');
        const _03 = document.querySelector('._03');
        const _04 = document.querySelector('._04');
        const _05 = document.querySelector('._05');
        const _06 = document.querySelector('._06');
        const current = document.querySelector('.calculator .calculator-wrapper__item.current')
        const sliderInfo = document.querySelectorAll('.calculator .calculator-wrapper__info')

        sliderInfo[this.current].classList.remove('current')
        sliderInfo[this.current-1].classList.add('current')

        sliderItems[this.current].classList.remove('current')
        sliderItems[this.current-1].classList.add('current')

        if(current.classList.contains('_01')){
          _01.classList.remove('_01')
          _01.classList.add('_02')
          _02.classList.remove('_02')
          _02.classList.add('_03')
          _03.classList.remove('_03')
          _03.classList.add('_04')
          _04.classList.remove('_04')
          _04.classList.add('_05')
          _05.classList.remove('_05')
          _05.classList.add('_06')
          _06.classList.remove('_06')
          _06.classList.add('next')
          sliderPrev[sliderPrev.length-1].classList.remove('prev')
          sliderPrev[sliderPrev.length-1].classList.add('_01')
        }
        this.current--;
      }
    },
    calculate(e){
      const track = document.querySelector('.calculator .calculator-wrapper__range-donetrack')
      const thumb = document.querySelector('.calculator .calculator-wrapper__range-thumb')
      const pretrack = document.querySelector('.calculator .calculator-wrapper__range-pretrack')
      const mainPrice = document.querySelectorAll('.calculator .calculator-wrapper__info-values__price')
      const edTokens = document.querySelectorAll('.calculator .ed-tokens')
      const emTokens = document.querySelectorAll('.calculator .em-tokens')
      const egTokens = document.querySelectorAll('.calculator .eg-tokens')
      const edPrice = document.querySelectorAll('.calculator .ed-price')
      const emPrice = document.querySelectorAll('.calculator .em-price')
      const egPrice = document.querySelectorAll('.calculator .eg-price')
      let netsArray = this.nets

      track.style.width = 'calc('+(e.target.value*100)/1000000+'%)'
      thumb.style.left = 'calc('+(e.target.value*100)/1000000+'% - 1rem)'
      pretrack.style.width = 'calc(100% - '+(e.target.value*100)/1000000+'%)'
      console.log(e.target.value)
      mainPrice.innerText = e.target.value
      if(e.target.value.length === 4){
        mainPrice[this.current].innerText = e.target.value.substr(0, 1)+','+e.target.value.substr(1)
      }
      if(e.target.value.length === 5){
        mainPrice[this.current].innerText = e.target.value.substr(0, 2)+','+e.target.value.substr(2)
      }
      if(e.target.value.length === 6){
        mainPrice[this.current].innerText = e.target.value.substr(0, 3)+','+e.target.value.substr(3)
      }

      edTokens[this.current].innerText = Math.floor(((e.target.value/100)*netsArray[this.current].annual_comission)/365)
      emTokens[this.current].innerText = Math.floor(((e.target.value/100)*netsArray[this.current].annual_comission)/12)
      egTokens[this.current].innerText = Math.floor(((e.target.value/100)*netsArray[this.current].annual_comission)/1)

      edPrice[this.current].innerText = Math.floor((Math.floor(((e.target.value/100)*netsArray[this.current].annual_comission)/365))*netsArray[this.current].price)
      emPrice[this.current].innerText = Math.floor((Math.floor(((e.target.value/100)*netsArray[this.current].annual_comission)/12))*netsArray[this.current].price)
      egPrice[this.current].innerText = Math.floor((Math.floor(((e.target.value/100)*netsArray[this.current].annual_comission)/1))*netsArray[this.current].price)


    }
  },
  mounted(){
    const range = document.querySelector('.calculator-wrapper__range input')
    range.value = 0
  }
}
</script>

<style scoped>

</style>
