<template>
  <div class="calc-validator">
    <div class="calc-validator__wrapper">
      <div class="calc-validator__title">
        <img :src="netsToCalc[0].img" alt="">
        <p>{{netsToCalc[0].title}}</p>
      </div>
      <div @click="hide" class="calc-validator__wrapper__lock">
        <div class="calc-validator__wrapper__lock-item"></div>
        <div class="calc-validator__wrapper__lock-item"></div>
      </div>
      <div class="calculator-wrapper">
        <div class="calculator-wrapper__range">
          <div class="calculator-wrapper__range-tracks">
            <div class="calculator-wrapper__range-donetrack"></div>
            <div class="calculator-wrapper__range-pretrack"></div>
          </div>
          <div class="calculator-wrapper__range-thumb"></div>
          <input min="0" max="1000000" @input="calculate" type="range">
        </div>
        <div class="calculator-wrapper__description">
          <div v-for="i in netsToCalc" class="calculator-wrapper__info current">
            <div class="calculator-wrapper__info-header">
              <p>Сколько у вас <span>{{i.title}}</span>ов?</p>
              <p>Годовой доход</p>
            </div>
            <div class="calculator-wrapper__info-values">
              <p class="calculator-wrapper__info-values__price">0</p>
              <p>{{i.fee}}%</p>
            </div>
            <div class="calculator-wrapper__info-stonks">
              <div class="calculator-wrapper__info-stonks__line"></div>
              <div class="calculator-wrapper__info-stonks__item">
                <p>Ежедневный доход</p>
                <p><span class="ed-tokens">0</span> {{i.short_title}}</p>
                <p>$ <span class="ed-price">0</span></p>
              </div>
              <div class="calculator-wrapper__info-stonks__line"></div>
              <div class="calculator-wrapper__info-stonks__item">
                <p>Ежемесячный доход</p>
                <p><span class="em-tokens">0</span> {{i.short_title}}</p>
                <p>$ <span class="em-price">0</span></p>
              </div>
              <div class="calculator-wrapper__info-stonks__line"></div>
              <div class="calculator-wrapper__info-stonks__item">
                <p>Ежегодный доход</p>
                <p><span class="eg-tokens">0</span> {{i.short_title}}</p>
                <p>$ <span class="eg-price">0</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="calc-validator__buttons">
        <button @click="toTutorial">
          <div class="calc-validator__buttons-bg"></div>
          <p>Смотреть туториал</p>
        </button>
        <button>
          <a target="_blank" :href="netsToCalc[0].kepler_link"></a>
          <div class="calc-validator__buttons-bg"></div>
          <div>
            <p>Дерелигорвать через Kepler</p>
            <img :src="kplr" alt="">
          </div>
        </button>
      </div>
    </div>
  </div>
</template>

<script>

import Akash from "@/static/nets/Akash.png"
import BandProtocol from "@/static/nets/BandProtocol.png"
import CertiK from "@/static/nets/CertiK.png"
import Comdex from "@/static/nets/Comdex.png"
import Cosmos from "@/static/nets/Cosmos.png"
import Desmos from "@/static/nets/Desmos.png"
import eMoney from "@/static/nets/eMoney.png"
import Iris from "@/static/nets/Iris.png"
import Juno from "@/static/nets/Juno.png"
import Kava from "@/static/nets/Kava.png"
import Ki from "@/static/nets/Ki.png"
import Mediblock from "@/static/nets/Mediblock.png"
import Osmosis from "@/static/nets/Osmosis.png"
import Persistence from "@/static/nets/Persistence.png"
import SecretNetwork from "@/static/nets/SecretNetwork.png"
import SifChain from "@/static/nets/SifChain.png"
import kplr from '@/static/nets/kplr.svg'

export default {
  name: "CalcValidator",
  props: {
    netsToCalc: {
      type: Array
    }
  },
  data(){
    return{
      nets: [],
      Cosmos, Akash, BandProtocol, CertiK, Comdex,
      Desmos, eMoney, Iris, Juno, Kava, Ki, Mediblock,
      Osmosis, Persistence, SecretNetwork, SifChain, kplr,
      current: 0
    }
  },
  methods:{
    hide () {
      const calc = document.querySelector('.calc-validator')
      calc.style.display = 'none'
    },
    toTutorial () {
      window.open('https://stakewolle.com/page23916167.html');
    },
    toKepler () {
      window.open(this.netsToCalc.kepler_link);
    },
    calculate(e){
      const track = document.querySelector('.calculator-wrapper__range-donetrack')
      const thumb = document.querySelector('.calculator-wrapper__range-thumb')
      const pretrack = document.querySelector('.calculator-wrapper__range-pretrack')
      const mainPrice = document.querySelectorAll('.calculator-wrapper__info-values__price')
      const edTokens = document.querySelectorAll('.ed-tokens')
      const emTokens = document.querySelectorAll('.em-tokens')
      const egTokens = document.querySelectorAll('.eg-tokens')
      const edPrice = document.querySelectorAll('.ed-price')
      const emPrice = document.querySelectorAll('.em-price')
      const egPrice = document.querySelectorAll('.eg-price')

      track.style.width = 'calc('+(e.target.value*100)/1000000+'%)'

      thumb.style.left = 'calc('+(e.target.value*100)/1000000+'% - 1rem)'

      pretrack.style.width = 'calc(100% - '+(e.target.value*100)/1000000+'%)'

      mainPrice[this.current].innerText = e.target.value
      if(e.target.value.length === 4){
        mainPrice[this.current].innerText = e.target.value.substr(0, 1)+','+e.target.value.substr(1)
      }
      if(e.target.value.length === 5){
        mainPrice[this.current].innerText = e.target.value.substr(0, 2)+','+e.target.value.substr(2)
      }
      if(e.target.value.length === 6){
        mainPrice[this.current].innerText = e.target.value.substr(0, 3)+','+e.target.value.substr(3)
      }

      edTokens[this.current].innerText = Math.floor(((e.target.value/100)*this.netsToCalc[this.current].fee)/365)
      emTokens[this.current].innerText = Math.floor(((e.target.value/100)*this.netsToCalc[this.current].fee)/12)
      egTokens[this.current].innerText = Math.floor(((e.target.value/100)*this.netsToCalc[this.current].fee)/1)

      edPrice[this.current].innerText = Math.floor((Math.floor(((e.target.value/100)*this.netsToCalc[this.current].fee)/365))*this.netsToCalc[this.current].course)
      emPrice[this.current].innerText = Math.floor((Math.floor(((e.target.value/100)*this.netsToCalc[this.current].fee)/12))*this.netsToCalc[this.current].course)
      egPrice[this.current].innerText = Math.floor((Math.floor(((e.target.value/100)*this.netsToCalc[this.current].fee)/1))*this.netsToCalc[this.current].course)
    }
  },
  async created() {
    for (let i = 0; i < this.nets.length; i++) {
      let coinsPrice = await this.$axios.$get('https://api.coingecko.com/api/v3/simple/price?ids=' + this.nets[i].coin + '&vs_currencies=USD')
      try {
        this.nets[i].course = coinsPrice[this.nets[i].coin].usd
      } catch (e) {
        console.log(e)
      }
    }
  }
}
</script>

<style scoped>

</style>