<template>
  <div class="delegates">
    <img id="svod" :src="svod" alt="">
    <div class="delegates-block">
      <div class="delegates-block__item">
        <p class="delegates-block__item-title">$ 4,551,303,586</p>
        <p class="delegates-block__item-subtitle">Сумма делегированных стредств</p>
      </div>
      <div class="delegates-block__item">
        <p class="delegates-block__item-title">$ 642,878,220</p>
        <p class="delegates-block__item-subtitle">Всего выплачено вознаграждений</p>
      </div>
      <div class="delegates-block__item">
        <p class="delegates-block__item-title">24938</p>
        <p class="delegates-block__item-subtitle">Количество делегатов</p>
      </div>
    </div>
  </div>
</template>

<script>
import svod from "@/static/svod.svg"
export default {
  name: "Delegates",
  data(){
    return{
      svod
    }
  }
}
</script>

<style scoped>

</style>
