<template>
  <div class="footer">
    <div class="form-alert">
      <div class="form-alert__form">
        <img class="form-alert__form-round" :src="roundAlert1" alt="">
        <img class="form-alert__form-round" :src="roundAlert2" alt="">
        <p class="form-alert__form-pretitle">Спасибо</p>
        <p class="form-alert__form-title">Вы успешно подписались на рассылку</p>
        <div class="form-alert__form-btn">
          <button @click="closeFormAlert">
            <p>Закрыть</p>
            <div></div>
          </button>
        </div>
        <div @click="closeFormAlert" class="form-alert__form-close">
          <div class="form-alert__form-close__item"></div>
          <div class="form-alert__form-close__item"></div>
        </div>
      </div>
    </div>
    <div class="footer-wrapper">
      <div class="footer-wrapper__logo">
        <img :src="logo" alt="">
        <p>takewolle</p>
      </div>
      <div class="footer-social__links">
        <a href="/" class="footer-social__links-item">
          <img :src="twitter" alt="">
        </a>
        <a href="/" class="footer-social__links-item">
          <img :src="telegram" alt="">
        </a>
        <a href="/" class="footer-social__links-item">
          <img :src="instagram" alt="">
        </a>
        <a href="/" class="footer-social__links-item">
          <img :src="github" alt="">
        </a>
      </div>
    </div>
    <div class="footer-sections">
      <a id="about-us" href="#d-about" class="footer-sections__item">
        <img :src="about" alt="">
      </a>
      <a id="pribil" href="#d-calc" class="footer-sections__item">
        <img :src="pribil" alt="">
      </a>
      <a id="guides" href="/" class="footer-sections__item">
        <img :src="guides" alt="">
      </a>
      <a id="contacts" href="#d-contacts" class="footer-sections__item">
        <img :src="contacts" alt="">
      </a>
    </div>
    <!-- Begin Mailchimp Signup Form -->
    <form action="https://yandexcloud.us20.list-manage.com/subscribe/post?u=a7fd2fb68b7f36d3ac9b012cb&amp;id=390bce8319" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate footer-contacts__form" target="_blank" novalidate>
      <div id="mc_embed_signup_scroll">
	      <h4>Подпишитесь, чтобы первыми узнавать новости</h4>
        <div class="mc-field-group">
          <img :src="mail" alt="">
	        <input type="email" placeholder="Email" value="" name="EMAIL" class="required email footer-input" id="mce-EMAIL">
        </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_a7fd2fb68b7f36d3ac9b012cb_390bce8319" tabindex="-1" value=""></div>
        <div class="optionalParent">
          <div class="clear foot">
            <div class="btn-bg"></div>
            <p>Подписаться</p>
            <div class="btn"></div>
            <input @click="checkSuccess" type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="button">
            </div>
          </div>
      </div>
    </form>
    <script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
    <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
    
    <!--End mc_embed_signup-->
  </div>
</template>

<script>
import logo from '../static/footer/logo.png'
import github from '../static/footer/github.svg'
import instagram from '../static/footer/instagram.svg'
import about from '../static/footer/Round orange (2).png'
import pribil from '../static/footer/Round violet (2).png'
import telegram from '../static/footer/telegram.svg'
import twitter from '../static/footer/twitter.svg'
import contacts from '../static/footer/Round violet (3).png'
import guides from '../static/footer/Round white (1).png'
import mail from '../static/mail.svg'
import roundAlert1 from '../static/footer/alert-top-round.png'
import roundAlert2 from '../static/footer/alert-bottom-round.png'

export default {
  name: "Footer",
  data(){
    return{
      logo, github, instagram, about, pribil, telegram,
      twitter, contacts, guides, mail, roundAlert1, roundAlert2

    }
  },
  methods: {
    checkSuccess(){
      const footerInput = document.querySelector('.footer-input')

      if(!footerInput.value){
        
      } else {
        const formAlert = document.querySelector('.form-alert')
        const body = document.querySelector('body')
        body.style.overflowY = 'hidden'
        formAlert.style.zIndex = '700'
        formAlert.style.opacity = '1'
      }
    },
    closeFormAlert(){
      const formAlert = document.querySelector('.form-alert')
      const body = document.querySelector('body')
      body.style.overflowY = 'scroll'
      formAlert.style.opacity = '0'
      formAlert.style.zIndex = '-100'
    }
  }
}
</script>

<style scoped>

</style>
