<template>
  <div class="linked-us">
    <div class="form-alert link-us-form">
      <div class="form-alert__form">
        <img class="form-alert__form-round" :src="roundAlert1" alt="">
        <img class="form-alert__form-round" :src="roundAlert2" alt="">
        <p class="form-alert__form-pretitle">Спасибо</p>
        <p class="form-alert__form-title">Ваше обращение успешно отправлено</p>
        <div class="form-alert__form-btn">
          <button @click="closeFormAlert">
            <p>Закрыть</p>
            <div></div>
          </button>
        </div>
        <div @click="closeFormAlert" class="form-alert__form-close">
          <div class="form-alert__form-close__item"></div>
          <div class="form-alert__form-close__item"></div>
        </div>
      </div>
    </div>
    <div class="linked-us__info">
      <p class="linked-us__info-title">Свяжитесь с нами, если вы:</p>
      <div class="linked-us__info-item">
        <img :src="wantDelegate" alt="">
        <p>Хотите заделегировать сумму от 500.000$</p>
      </div>
      <div class="linked-us__info-item">
        <img :src="excel" alt="">
        <p>Хотите получить excel отчёт делегатов со списком транзакций для налоговой</p>
      </div>
      <div class="linked-us__info-item">
        <img :src="partners" alt="">
        <p>По вопросам сотрудничества</p>
      </div>
    </div>
    <!-- Begin Mailchimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="https://yandexcloud.us20.list-manage.com/subscribe/post?u=a7fd2fb68b7f36d3ac9b012cb&amp;id=390bce8319" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate linked-us__form" target="_blank" novalidate>
      <h5>Связаться с нами</h5>
          <div id="mc_embed_signup_scroll">
      <div id="mc-field-group-user" class="mc-field-group">
        <img :src="username" alt="">
      	<input type="text" placeholder="Ваше имя" value="" name="MMERGE2" class="" id="mce-MMERGE2">
      </div>
      <div class="mc-field-group">
        <img :src="mail" alt="">
      	<input type="email" value="" placeholder="Email" name="EMAIL" class="required email linked-email" id="mce-EMAIL">
      </div>
      <div class="mc-field-group">
        <img :src="mail" alt="">
      	<textarea type="text" placeholder="Сообщение" value="" name="MMERGE1" class="" id="mce-MMERGE1"></textarea>
      </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a7fd2fb68b7f36d3ac9b012cb_390bce8319" tabindex="-1" value=""></div>
              <div class="optionalParent">
                  <div class="clear foot">
                    <div class="btn-bg"></div>
                      <p>Отправить</p>
                      <div class="btn"></div>
                      <input @click="checkSuccess" type="submit" value="" name="subscribe" id="mc-embedded-subscribe" class="button">
                  </div>
              </div>
          </div>
      </form>
    </div>

<!--End mc_embed_signup-->
  </div>
</template>

<script>
import wantDelegate from '../static/want-delegate.svg'
import excel from '../static/excel.svg'
import partners from '../static/partners.svg'
import username from '../static/username.svg'
import mail from '../static/mail.svg'
import roundAlert1 from '../static/footer/alert-top-round.png'
import roundAlert2 from '../static/footer/alert-bottom-round.png'

export default {
  name: "LinkUs",
  data(){
    return{
      wantDelegate, excel, partners,
      username, mail,
      roundAlert1,
      roundAlert2
    }
  },
  methods: {
    checkSuccess(){
      const footerInput = document.querySelector('.linked-email')
      if(!footerInput.value){
        
      } else {
        const formAlert = document.querySelector('.link-us-form')
        const body = document.querySelector('body')
        body.style.overflowY = 'hidden'
        formAlert.style.zIndex = '700'
        formAlert.style.opacity = '1'
      }
    },
    closeFormAlert(){
      const formAlert = document.querySelector('.link-us-form')
      const body = document.querySelector('body')
      body.style.overflowY = 'scroll'
      formAlert.style.opacity = '0'
      formAlert.style.zIndex = '-100'
    }
  }
}
</script>

<style scoped>

</style>
