<template>
  <div class="nav">
    <div class="nav-logo">
      <div class="nav-logo__background"></div>
      <img :src="fav" alt="">
      <p>takewolle</p>
    </div>
    <div class="nav-links">
      <a href="/" class="nav-links__item">
        <img :src="twitter" alt="">
      </a>
      <a href="/" class="nav-links__item">
        <img :src="telegram" alt="">
      </a>
      <a href="/" class="nav-links__item">
        <img :src="instagram" alt="">
      </a>
      <a href="/" class="nav-links__item">
        <img :src="github" alt="">
      </a>
    </div>
    <div class="nav-anchors">
      <a class="nav-anchors__item" href="#d-about">О нас</a>
      <a class="nav-anchors__item" href="#d-calc">Прибыль</a>
      <a class="nav-anchors__item" href="/">Руководство</a>
      <a class="nav-anchors__item" href="#d-contacts">Контакты</a>
      <div @click="getPopup" class="nav-anchors__item send-feedback">
        <div class="send-feedback__background"></div>
        <p>Стейкинг</p>
      </div>
      <div class="language-toggle">
        <div class="language-background"></div>
        <p>En</p>
        <img :src="langArrow" alt="">
        <div class="language-toggle__sub">
          <p>Ru</p>
          <div class="sub-line"></div>
          <p>En</p>
        </div>
      </div>
    </div>
    <div class="cookies">
      <p class="cookies-text">Мы используем cookie-файлы, чтобы пользоваться сайтом было удобно</p>
      <button @click="hideCookie" class="cookies-btn">
        <span class="cookies-btn__bg"></span>
        <p>Ок</p>
      </button>
    </div>
  </div>
</template>

<script>
import fav from "~/static/logo.png"
import twitter from '~/static/header-twitter.svg'
import telegram from '~/static/header-telegram.svg'
import instagram from '~/static/header-instagram.svg'
import github from '~/static/header-github.svg'
import langArrow from '~/static/lang-arrow.svg'

export default {
  name: "Navigation",
  data(){
    return{
      fav, twitter, telegram, instagram, github, langArrow
    }
  },
  methods: {
    hideCookie(){
      const cookie = document.querySelector('.cookies')
      localStorage.setItem('cookieFlag', 'true')
      cookie.className = 'cookies-hide'
    },
    getPopup(){
      const popup = document.querySelector('.nets-popup__background');
      popup.style.top = '0'
      const body = document.querySelector('body')
      body.style.overflowY = 'hidden'
    },
  },
  created() {

  },
  mounted(){
    const cookie = document.querySelector('.cookies')
    if (localStorage.getItem('cookieFlag') === 'true'){
      cookie.className = 'cookies-hide'
    } else {
      cookie.className = 'cookies'
    }
  }
}
</script>
