<template>
<div class="validators-wrapper">
  <img id="validatorsBg" :src="validatorsBg" alt="">
  <div class="soon-validators">
    <h3>Сети, в которых мы скоро будем валидаторами:</h3>
    <h4>Блокчейн, позволяет осуществлять обмен токенами между сетями системы Космос</h4>

    <img id="bg2" :src="validatorsBg2" alt="">
    <div class="slider-wrapper">
      <div v-for="i in slides" :class="i.class">
        <img class="slide-icon" :src="i.img" alt="">
        <p class="slide-title">{{ i.title }}</p>
        <p class="slide-subtitle">{{ i.subtitle }}</p>
        <a class="slide-link" href="/">
          <div class="slide-link__bg"></div>
          <p>Узнать больше</p>
        </a>
      </div>
      <button class="slider-btn prev-btn" disabled @click="prev">
      <img :src="sliderArrow" alt="">
    </button>
    <button class="slider-btn next-btn" @click="next">
      <img :src="sliderArrow" alt="">
    </button>
    </div>
  </div>
</div>

</template>

<script>
import CertiK from '../static/nets/CertiK.png'
import sliderArrow from '../static/slider-arrow.svg'
import validatorsBg2 from '../static/validators-bg2.png'
import validatorsBg from '../static/validators-bg.png'

export default {
  name: "SoonValidators",

  data() {
    return {
      slides: [],
      CertiK, sliderArrow, validatorsBg2, validatorsBg
    };
  },
  methods: {
    next(){
      const left = document.querySelector('.validators-wrapper .left')
      const center = document.querySelector('.validators-wrapper .center')
      const right = document.querySelector('.validators-wrapper .right')
      const next = document.querySelectorAll('.validators-wrapper .next')
      const prevBtn = document.querySelector('.validators-wrapper .prev-btn')
      const nextBtn = document.querySelector('.validators-wrapper .next-btn')

      console.log(prev, next)

      if(next.length > 1){
        nextBtn.classList.remove('slider-btn__disabled')
        nextBtn.removeAttribute('disabled')
        left.classList.remove('left')
        left.classList.add('prev')
        center.classList.remove('center')
        center.classList.add('left')
        right.classList.remove('right')
        right.classList.add('center')
        next[0].classList.remove('next')
        next[0].classList.add('right')
      } else if (next.length === 1) {
        nextBtn.classList.remove('slider-btn__disabled')
        nextBtn.removeAttribute('disabled')
        left.classList.remove('left')
        left.classList.add('prev')
        center.classList.remove('center')
        center.classList.add('left')
        right.classList.remove('right')
        right.classList.add('center')
        next[0].classList.remove('next')
        next[0].classList.add('right')
        nextBtn.classList.add('slider-btn__disabled')
        nextBtn.setAttribute('disabled', 'disabled')
      }

      const prev = document.querySelectorAll('.validators-wrapper .prev')
      if (prev.length >= 1){
        prevBtn.classList.remove('slider-btn__disabled')
        prevBtn.removeAttribute('disabled')
      } else {
        prevBtn.classList.add('slider-btn__disabled')
        prevBtn.setAttribute('disabled', 'disabled')
      }



    },
    prev(){
      const left = document.querySelector('.validators-wrapper .left')
      const center = document.querySelector('.validators-wrapper .center')
      const right = document.querySelector('.validators-wrapper .right')
      const prev = document.querySelectorAll('.validators-wrapper .prev')
      const prevBtn = document.querySelector('.validators-wrapper .prev-btn')
      const nextBtn = document.querySelector('.validators-wrapper .next-btn')


      if(prev.length > 1){
        prevBtn.removeAttribute('disabled')
        prevBtn.classList.remove('slider-btn__disabled')
        prev[prev.length - 1].classList.remove('prev')
        prev[prev.length - 1].classList.add('left')
        left.classList.remove('left')
        left.classList.add('center')
        center.classList.remove('center')
        center.classList.add('right')
        right.classList.remove('right')
        right.classList.add('next')
      } else if (prev.length === 1) {
        prevBtn.classList.remove('slider-btn__disabled')
        prev[prev.length - 1].classList.remove('prev')
        prev[prev.length - 1].classList.add('left')
        left.classList.remove('left')
        left.classList.add('center')
        center.classList.remove('center')
        center.classList.add('right')
        right.classList.remove('right')
        right.classList.add('next')
        prevBtn.setAttribute('disabled', 'disabled')
        prevBtn.classList.add('slider-btn__disabled')
      }
      const next = document.querySelectorAll('.validators-wrapper .next')
      if (next.length >= 1){
        nextBtn.classList.remove('slider-btn__disabled')
        nextBtn.removeAttribute('disabled')
      } else {
        nextBtn.classList.add('slider-btn__disabled')
        nextBtn.setAttribute('disabled', 'disabled')
      }
    }
  },
  created(){
    this.slides = [
      {img: CertiK, title: 'e-Money', subtitle: 'Блокчейн, позволяет осуществлять обмен токенами между сетями системы Космос', class: 'slider-item left'},
      {img: CertiK, title: 'CertiK', subtitle: 'Блокчейн, позволяет осуществлять обмен токенами между сетями системы Космос', class: 'slider-item center'},
      {img: CertiK, title: 'Comdex', subtitle: 'Блокчейн, позволяет осуществлять обмен токенами между сетями системы Космос', class: 'slider-item right'},
      {img: CertiK, title: 'Akash', subtitle: 'Блокчейн, позволяет осуществлять обмен токенами между сетями системы Космос', class: 'slider-item next'},
      {img: CertiK, title: 'Cosmos', subtitle: 'Блокчейн, позволяет осуществлять обмен токенами между сетями системы Космос', class: 'slider-item next'},
      {img: CertiK, title: 'Iris', subtitle: 'Блокчейн, позволяет осуществлять обмен токенами между сетями системы Космос', class: 'slider-item next'},
      {img: CertiK, title: 'Ki', subtitle: 'Блокчейн, позволяет осуществлять обмен токенами между сетями системы Космос', class: 'slider-item next'},
      {img: CertiK, title: 'Osmosis', subtitle: 'Блокчейн, позволяет осуществлять обмен токенами между сетями системы Космос', class: 'slider-item next'},
      {img: CertiK, title: 'Secret-Network', subtitle: 'Блокчейн, позволяет осуществлять обмен токенами между сетями системы Космос', class: 'slider-item next'}
    ]
  },
  mounted(){
    const prev = document.querySelectorAll('.validators-wrapper .prev')
    const next = document.querySelectorAll('.validators-wrapper .next')
    const prevBtn = document.querySelector('.validators-wrapper .prev-btn')
    const nextBtn = document.querySelector('.validators-wrapper .next-btn')

    if(prev.length !== 0){
      prevBtn.classList.remove('slider-btn__disabled')
      prevBtn.removeAttribute('disabled')
    } else {
      prevBtn.classList.add('slider-btn__disabled')
      prevBtn.setAttribute('disabled', 'disabled')
    }
    if(next.length !== 0){
      nextBtn.classList.remove('slider-btn__disabled')
      nextBtn.removeAttribute('disabled')
    } else {
      nextBtn.classList.add('slider-btn__disabled')
      nextBtn.setAttribute('disabled', 'disabled')
    }


  }


}
</script>

<style scoped>

</style>
