<template>
  <div class="target-block">
    <div class="target-block__text-block">
      <h3>staking provider hosted by professionals</h3>
      <h1>Stakewolle<br>validator</h1>
      <h4>Лучшее место для инвесторов, как с не большими вложениями, так и с<br>активами более 500 тысяч долларов можно вложить и 1 $, а можно и 1 милн.</h4>
      <div class="target-block__link">
        <div class="target-block__link-background"></div>
        <p>Узнать больше</p>
      </div>
    </div>
    <div class="target-block__image">
      <img :src="headerBig" alt="">
      <div class="target-block__image-info">
        <img id="round" :src="round" alt="">
        <img id="star" :src="star" alt="">
        <img id="round-white" :src="roundWhite" alt="">
        <p>Комиссия 0% до 2023 года</p>
      </div>
    </div>
    <img id="blur-white" :src="blurWhite" alt="">
  </div>
</template>

<script>
import headerBig from "@/static/header-big.png"
import round from "@/static/Round-violet.svg"
import star from "@/static/orange-star.svg"
import roundWhite from "@/static/Round white.svg"
import blurWhite from "@/static/blur-white.svg"
export default {
  name: "TargetBlock",
  data(){
    return{
      headerBig, round, star, roundWhite, blurWhite
    }
  }
}
</script>
