<template>
  <div>
    <div class="loader">
      <div class="boxes">
        <div class="box">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="box">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="box">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="box">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <StartBlock></StartBlock>
    <AboutUs id="d-about"></AboutUs>
    <Delegates></Delegates>
    <Nets></Nets>
    <SoonValidators></SoonValidators>
    <div class="dark-bg">
      <Calculator id="d-calc"></Calculator>
      <Benefits></Benefits>
      <Stages></Stages>
      <LinkUs id="d-contacts"></LinkUs>
      <Footer></Footer>
    </div>

  </div>
</template>

<script>
export default {
  name: "desktop"
}
</script>