<template>
  <div>
    <Desktop v-if="desktop"></Desktop>
    <mobile v-if="mobile"></mobile>
  </div>
</template>

<script>
import "../static/styles/styles.scss"
import "../static/fonts/opensans/opensans.css"
import "../static/fonts/osanscondensed/osanscondensed.css"
import "../static/fonts/comfortaa/comfortaa.css"
import "../static/fonts/acrom/stylesheet.css"
import Desktop from "./desktop";
import Mobile from "./mobile";

export default {
  name: 'IndexPage',
  components: {Mobile, Desktop},
  data(){
    return{
      mobile: false,
      desktop: false
    }
  },
  mounted(){
    if(window.innerWidth<=428){
      this.mobile = true
    } else {
      this.desktop = true
    }
  }
}
</script>
