<template>
  <div>
    <mobile-navigation></mobile-navigation>
    <mobile-start-block></mobile-start-block>
    <mobile-about-us id="m-about"></mobile-about-us>
    <mobile-delegates></mobile-delegates>
    <mobile-stacking></mobile-stacking>
    <mobile-validators></mobile-validators>
    <mobile-stonks></mobile-stonks>
    <mobile-calculator id="m-calc"></mobile-calculator>
    <mobile-benefits></mobile-benefits>
    <mobile-years></mobile-years>
    <mobile-call id="m-contacts"></mobile-call>
    <mobile-footer></mobile-footer>
  </div>
</template>

<script>

export default {
  name: "mobile",
  components: {}
}
</script>