$pixels: 16;
@function calc-px($px) {
  @return $px/$pixels+rem;
}

@font-face {
  font-family: 'Syne Bold';
  src: local('Syne Bold'), local('Syne-Bold'), url('../fonts/Syne-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

