/* ----------- Non-Retina Screens ----------- */
@media screen
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    html{
      font-size: 14px;
    }
    $pixels: 14;
    @function calc-px($px) {
      @return $px/$pixels+rem;
    }
}



/* ----------- Retina Screens ----------- */
@media screen
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    html{
      font-size: 14px;
    }
    $pixels: 14;
    @function calc-px($px) {
      @return $px/$pixels+rem;
    }
}

@media screen and (max-width: 2560px){
  html{
    font-size: 1rem;
  }
  $pixels: 16;
  @function calc-px($px) {
    @return $px/$pixels+rem;
  }

  .linked-us__form {
    right: 46.625rem;
  }

  #nets-bottom{
    width: 100%;
  }

  .nets #nets-rings {
    left: 26rem;
  }
  .validators-wrapper #validatorsBg {
    position: absolute;
    top: -17.9rem;
    z-index: 13;
    width: 100%;
  }
  .stages-line{
    background-size: cover;
  }

  .linked-us{
    margin-left: 23.1875rem;
  }
}

@media screen and (max-width: 1920px){
  html{
    font-size: 1rem;
  }
  $pixels: 16;
  @function calc-px($px) {
    @return $px/$pixels+rem;
  }
  .linked-us__form {
    right: 15.625rem;
  }
  .validators-wrapper #validatorsBg {
    position: absolute;
    top: -1rem;
    z-index: 13;
    width: unset;
  }
  .linked-us {
    margin-left: 15.1875rem;
  }
  .nets-container .nets-item {
    z-index: 10;
  }
  .about-us{
    padding-top: 4.35rem;
  }
  .nets #nets-rings {
    left: 6rem;
}
}

@media screen and (max-width: 1440px){
  html{
    font-size: 14px;
  }
  $pixels: 14;
  @function calc-px($px) {
    @return $px/$pixels+rem;
  }
  .about-us{
    padding-top: 8.35rem;
  }
  .linked-us {
    margin-left: -11.8125rem;
    &__info {
      left: 26.87rem;
    }
  }
  .calculator-wrapper__top button {
    width: 2.285rem;
    height: 2.285rem;
  }
  .validators-wrapper .soon-validators .slider-wrapper {
    height: 40rem
  }
}

@media screen and (max-width: 428px){
  html{
    font-size: 18px;
    overflow-x: hidden;
  }
  .mobile-navigation .mobile-content__top {
    width: 100%;
  }
  $pixels: 18;
  @function calc-px($px) {
    @return $px/$pixels+rem;
  }
  .mobile-call {
    height: 42.66667rem;
  }
  .mobile-call__form textarea {
    width: 16.5rem;
    box-sizing: border-box;
  }
  .mobile-call__form-input input {
    box-sizing: border-box;
    width: 100%;
  }
  .mobile-footer__contacts-input {
    width: 70%;
  }
  .mobile-footer__contacts-input input{
    width: 100%;
    box-sizing: border-box;
  }
  .mobile-footer__contacts button{
    width: 70%;
  }
  .mobile-years {
    margin-left: -1%;
    margin: 0 auto;
    width: 100%;
    img{
      width: 105%;
    }
  }
  .mobile-stonks__info {
    z-index: 10;
    position: absolute;
    top: 10rem;
  }
}

@media screen and (max-width: 425px){
  html{
    font-size: 18px;
    overflow-x: hidden;
  }
  .mobile-navigation .mobile-content__top {
    width: 100%;
  }
  $pixels: 18;
  @function calc-px($px) {
    @return $px/$pixels+rem;
  }
}

@media screen and (max-width: 414px){
  html{
    font-size: 17px;
  }
  $pixels: 17;
  @function calc-px($px) {
    @return $px/$pixels+rem;
  }
  .mobile-navigation .mobile-content__top {
    width: 100%;
  }

}

@media screen and (max-width: 375px){
  html{
    font-size: 16px;
  }
  $pixels: 16;
  @function calc-px($px) {
    @return $px/$pixels+rem;
  }
}